/*! FSA Style v2.1.5 | http://usda-fsa.github.io/fsa-design-system/ */


html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.usa-sr-only {
  position: absolute;
  left: -999em;
}

/*////////////////////////////////////////////////////////*/
/*//                                                    //*/
/*//    BREAKPOINT BAR                                  //*/
/*//                                                    //*/
/*////////////////////////////////////////////////////////*/
body::before {
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  content: '0px - 239px';
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background: rgba(255, 0, 0, 0.8);
  padding: 2px 2px 3px;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Courier New", monospace;
  font-size: 14px;
  line-height: 1;
}

@media (min-width: 30.0625em) {
  body::before {
    background: black;
    content: 'S: 481px+';
  }
}

@media (min-width: 37.5em) {
  body::before {
    content: 'M: 600px+';
    background: rgba(204, 102, 0, 0.8);
  }
}

@media (min-width: 54em) {
  body::before {
    content: 'L: 865px +';
    background: rgba(50, 20, 50, 0.8);
  }
}

@media (min-width: 78.75em) {
  body::before {
    content: 'XL: 1260px +';
    background: rgba(0, 70, 0, 0.8);
  }
}

html:hover body::before {
  display: block;
}

@media print {
  html:hover body::before {
    display: none;
  }
}

.is-showing-breakpoints body::before {
  display: block;
}

@media print {
  body::before {
    display: none;
  }
}

@keyframes peekInFromAbove {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.docs__title {
  margin-top: 2em;
  margin-top: 20vh;
  color: #fff;
  font-weight: 300;
}

@media (min-width: 37.5em) {
  .docs__title {
    font-size: 5.2rem;
    line-height: 1.3;
  }
}

.docs__title__version {
  font-size: 66%;
  color: #b2c9b7;
  font-weight: 400;
}

.docs__anchor {
  display: none;
}

@media (min-width: 54em) {
  .docs__anchor {
    display: block;
    float: left;
    text-align: right;
    width: 3.6rem;
    margin-left: -3.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    opacity: 0;
  }
  .docs__anchor:link, .docs__anchor:visited {
    text-decoration: none;
    color: #0068ad;
  }
  .docs__anchor:focus, .docs__anchor:active, .docs__anchor:hover {
    opacity: 1;
    color: #183f6e;
  }
  .docs__figure:hover .docs__anchor,
  .docs__figure-group:hover .docs__anchor {
    opacity: 1;
  }
}

.docs__figure-group {
  margin-top: 57.6px;
  margin-top: 3.6rem;
  border-bottom: 2px solid #75716e;
}

.docs__figure {
  border-bottom: 1px solid #75716e;
  margin-bottom: 1em;
  margin-top: 57.6px;
  margin-top: 3.6rem;
}

.docs__sub_style {
  margin-top: 38.4px;
  margin-top: 2.4rem;
}

.docs__overview {
  background-color: #f0f0f0;
  padding-bottom: 57.6px;
  padding-bottom: 3.6rem;
  margin-bottom: 38.4px;
  margin-bottom: 2.4rem;
}

@media (min-width: 54em) {
  .docs__nav--fixed {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: 0;
    background-color: #1a4b24;
    color: #fff;
    z-index: 1002;
    padding-top: 1em;
    animation: peekInFromAbove 300ms ease-in-out;
  }
}

@media print and (min-width: 54em) {
  .docs__nav--fixed {
    position: static;
  }
}

.docs__primary-nav {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

@media print {
  .docs__primary-nav {
    max-width: none;
  }
}

.docs__primary-nav-item {
  display: list-item;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
}

@media (min-width: 54em) {
  .docs__primary-nav-item {
    margin-right: 0.4rem;
  }
}

.docs__primary-nav-item--floater {
  display: block;
  margin-top: 1em;
  margin-right: 0;
}

@media (min-width: 54em) {
  .docs__primary-nav-item--floater {
    float: right;
    margin-top: 0;
  }
}

.docs__primary-nav-link {
  display: inline-block;
  margin-right: 12.8px;
  margin-right: 0.8rem;
  text-decoration: none;
  color: #fff;
}

@media (min-width: 37.5em) {
  .docs__primary-nav-link {
    margin-right: 0.8rem;
  }
}

@media (min-width: 54em) {
  .docs__primary-nav-link--sub:after {
    content: '';
    display: inline-block;
    margin-left: 0.6rem;
    width: 1.2rem;
    height: 1.4rem;
    background-image: url("../img/angle-arrow-down-hover.png");
    background-image: url("../img/angle-arrow-down-hover.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
  }
  .docs__primary-nav-link--sub _:-ms-fullscreen, :root .docs__primary-nav-link--sub:after {
    display: none;
  }
}

.docs__primary-nav-link:hover {
  text-decoration: underline;
}

.docs__primary-nav-link:active, .docs__primary-nav-link:hover, .docs__primary-nav-link:hover:visited, .docs__primary-nav-link:visited {
  color: #fff;
}

.docs__primary-nav-sub {
  display: none;
}

@media (min-width: 54em) {
  .docs__primary-nav-sub {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    margin: 0;
    position: absolute;
    left: -1.2rem;
    top: 100%;
    background-color: #1a4b24;
    max-height: 50vh;
    width: 184px;
    border-top: 1em solid #236430;
    padding-top: 0.4rem;
    padding-bottom: 0.8rem;
    overflow: auto;
  }
  .docs__nav--fixed .docs__primary-nav-sub {
    max-height: calc(100vh - 42px);
    border-top-color: #1a4b24;
  }
  .docs__primary-nav-item--sub:focus-within .docs__primary-nav-sub,
  .docs__primary-nav-item--sub:hover .docs__primary-nav-sub {
    display: block;
  }
}

@media (min-width: 54em) {
  .docs__primary-nav-sub-item {
    display: list-item;
    margin: 0;
    padding: 0;
  }
}

.docs__primary-nav-sub-link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 6.4px 19.2px;
  padding: 0.4rem 1.2rem;
}

.docs__primary-nav-sub-link:active, .docs__primary-nav-sub-link:hover, .docs__primary-nav-sub-link:hover:visited, .docs__primary-nav-sub-link:visited {
  color: #fff;
}

.docs__primary-nav-sub-link:hover {
  text-decoration: underline;
}

.docs__primary-nav__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12.8px;
  margin-right: 0.8rem;
  width: 38.4px;
  width: 2.4rem;
  height: 38.4px;
  height: 2.4rem;
  margin-top: -2px;
}

.docs__section {
  padding-right: 19.2px;
  padding-right: 1.2rem;
  padding-left: 19.2px;
  padding-left: 1.2rem;
}

.docs__section:before {
  content: '';
  display: block;
  height: 76.8px;
  height: 4.8rem;
  margin: -76.8px 0 0;
  margin: -4.8rem 0 0;
}

.docs__section-title {
  position: relative;
}

.docs__section-link {
  position: absolute;
  right: 0;
  text-transform: uppercase;
}

.docs__figure + .docs__section-link {
  top: -19.2px;
  top: -1.2rem;
}

@media print {
  .docs__section-link {
    font-size: 1.7rem;
    color: black !important;
    position: static;
    margin-top: 1em;
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 700;
  }
  .docs__section-link:after {
    content: ": " attr(href);
    text-transform: initial;
    font-family: "Bitstream Vera Sans Mono", "Consolas", "Menlo", "Monaco", "Courier New", "Courier", monospace;
  }
}

.docs__intro {
  padding-top: 38.4px;
  padding-top: 2.4rem;
  padding-bottom: 38.4px;
  padding-bottom: 2.4rem;
  background-color: #236430;
  margin-bottom: 38.4px;
  margin-bottom: 2.4rem;
}

.docs__bd {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media print {
  .docs__bd {
    max-width: none;
  }
}

.docs__jump-target:before {
  content: '';
  display: block;
  height: 76.8px;
  height: 4.8rem;
  margin: -76.8px 0 0;
  margin: -4.8rem 0 0;
}

.docs__logo {
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 2rem 2rem;
  background-position: 0 0, 80px 80px;
  background-position: 0 0, 5rem 5rem;
  padding: 12.8px;
  padding: 0.8rem;
}

@media (min-width: 30.0625em) {
  .docs__logo {
    padding: 2.4rem;
  }
}

@media (min-width: 37.5em) {
  .docs__logo {
    padding: 2.4rem 4.8rem;
  }
}

.docs__logo__demo {
  display: block;
}

.docs__attr-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 38.4px;
  margin-bottom: 2.4rem;
}

@media (min-width: 37.5em) {
  .docs__attr-list {
    display: -ms-flexbox;
    display: flex;
  }
}

.docs__attr-list--spaced {
  margin-right: -38.4px;
  margin-right: -2.4rem;
}

.docs__attr-list__item {
  display: list-item;
  margin: 0;
  padding: 0;
  -ms-flex: 1;
      flex: 1;
}

@media (min-width: 37.5em) {
  .docs__attr-list__item {
    margin-right: 2.55rem;
  }
}

@media (min-width: 37.5em) {
  .docs__attr-list__item:last-child {
    margin-right: 0;
  }
}

.docs__attr-list__swatch {
  height: 120px;
  height: 7.5rem;
  display: -ms-flexbox;
  display: flex;
}

.docs__attr-list__title {
  font-size: 27.2px;
  font-size: 1.7rem;
  color: #205493;
}

.docs__attr-list__attr {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 12.8px 0 1em;
  margin: 0.8rem 0 1em;
}

.docs__attr-list__attr-item {
  display: list-item;
  margin: 0;
  padding: 0;
}

.docs__swatch-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.docs__swatch-list__item {
  display: list-item;
  margin: 0;
  padding: 0;
  padding: 76.8px 19.2px 19.2px;
  padding: 4.8rem 1.2rem 1.2rem;
}

.docs__swatch-list__item--main {
  padding-top: 153.6px;
  padding-top: 9.6rem;
}

.docs__swatch-list__item code {
  background-color: transparent;
  padding: 0;
  border: 0;
  color: white;
}

.docs__swatch-list__value {
  font-size: 20.8px;
  font-size: 1.3rem;
  display: block;
}

.docs__font {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 38.4px;
  margin-bottom: 2.4rem;
}

.docs__font--source-sans-pro {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  outline: 1px solid blue;
}

.docs__font--source-sans-pro-light {
  font-weight: 300;
  outline: 1px solid green;
}

.docs__font--source-sans-pro-bold {
  font-weight: 700;
  outline: 1px solid red;
}

.docs__font--merriweather {
  outline: 3px solid red;
  background-color: yellow;
}

.docs__font--helvetica {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.docs__font--georgia {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  outline: 3px solid red;
  background-color: yellow;
}

.docs__font__preview {
  font-size: 83.2px;
  font-size: 5.2rem;
  line-height: 1.3;
  -ms-flex: 1;
      flex: 1;
  line-height: 1;
  margin: 0;
  margin-right: 19.2px;
  margin-right: 1.2rem;
}

@media (min-width: 30.0625em) {
  .docs__font__preview {
    font-size: 8.4rem;
    text-align: center;
  }
}

.docs__font__details {
  -ms-flex: 2;
      flex: 2;
  overflow: hidden;
}

.docs__font__item {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  margin: 0;
  letter-spacing: 6.4px;
  letter-spacing: 0.4rem;
}

.docs__grid-inventory-item {
  margin-bottom: 6.4px;
  margin-bottom: 0.4rem;
  margin-left: 0;
  padding-left: 0;
}

.docs__grid-inventory-item > div {
  padding-left: 0;
}

.docs__utilities__demo {
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 2rem 2rem;
  background-position: 0 0, 80px 80px;
  background-position: 0 0, 5rem 5rem;
  margin-bottom: 19.2px;
  margin-bottom: 1.2rem;
}

.docs__utilities__demo-item {
  border: 1px solid #75716e;
}

.docs__utilities__demo-item code {
  background-color: white;
  border: 0;
  padding: 0;
  display: block;
}

.docs__footer {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 57.6px;
  margin-top: 3.6rem;
  background-color: #f0f0f0;
}

.docs__footer a {
  text-decoration: underline;
}

.docs__footer:before {
  display: none;
}

.docs__footer__bd {
  padding: 38.4px 0;
  padding: 2.4rem 0;
}

.fsa-checkerboard {
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 2rem 2rem;
  background-position: 0 0, 80px 80px;
  background-position: 0 0, 5rem 5rem;
}

.size-swatch {
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 2rem 2rem;
  background-position: 0 0, 80px 80px;
  background-position: 0 0, 5rem 5rem;
  margin: 0;
}

.size-swatch__blotch {
  background-color: #000;
  display: block;
  margin: auto;
}

.size-swatch__blotch--base {
  width: 6.4px;
  width: 0.4rem;
  height: 6.4px;
  height: 0.4rem;
}

.size-swatch__blotch--small {
  width: 12.8px;
  width: 0.8rem;
  height: 12.8px;
  height: 0.8rem;
}

.size-swatch__blotch--default {
  width: 19.2px;
  width: 1.2rem;
  height: 19.2px;
  height: 1.2rem;
}

.size-swatch__blotch--medium {
  width: 38.4px;
  width: 2.4rem;
  height: 38.4px;
  height: 2.4rem;
}

.size-swatch__blotch--large {
  width: 57.6px;
  width: 3.6rem;
  height: 57.6px;
  height: 3.6rem;
}

.size-swatch__blotch--extra-large {
  width: 76.8px;
  width: 4.8rem;
  height: 76.8px;
  height: 4.8rem;
}

.color-fsa-primary-dark {
  background-color: #1a4b24;
}

.color-fsa-primary {
  background-color: #236430;
}

.color-fsa-primary-light {
  background-color: #4d8157;
}

.color-fsa-primary-lighter {
  background-color: #b2c9b7;
}

.color-fsa-primary-lightest {
  background-color: #dee8e0;
}

.color-fsa-secondary-dark {
  background-color: #183f6e;
}

.color-fsa-secondary {
  background-color: #205493;
}

.color-fsa-secondary-light {
  background-color: #4f78aa;
}

.color-fsa-secondary-lighter {
  background-color: #a6bbd4;
}

.color-fsa-secondary-lightest {
  background-color: #dee5ef;
}

.color-fsa-tertiary-dark {
  background-color: #2f2c2a;
}

.color-fsa-tertiary {
  background-color: #494440;
}

.color-fsa-tertiary-light {
  background-color: #75716e;
}

.color-fsa-tertiary-lighter {
  background-color: #dbdad9;
}

.color-fsa-tertiary-lightest {
  background-color: #f0f0f0;
}

.color-fsa-aqua-dark {
  background-color: #046b99;
}

.color-fsa-aqua {
  background-color: #00a6d2;
}

.color-fsa-aqua-light {
  background-color: #02bfe7;
}

.color-fsa-aqua-lighter {
  background-color: #9bdaf1;
}

.color-fsa-aqua-lightest {
  background-color: #e1f3f8;
}

.color-fsa-red-dark {
  background-color: #981b1e;
}

.color-fsa-red {
  background-color: #cd2026;
}

.color-fsa-red-light {
  background-color: #e1797d;
}

.color-fsa-red-lighter {
  background-color: #f0bcbe;
}

.color-fsa-red-lightest {
  background-color: #f9e4e5;
}

.color-fsa-link {
  background-color: #0068ad;
}

.color-fsa-link-hover {
  background-color: #183f6e;
}

.color-fsa-link-visited {
  background-color: #0068ad;
}

.color-fsa-aqua code,
.color-fsa-aqua-light code,
.color-fsa-red-light code,
[class*="lighter"] code,
[class*="lightest"] code {
  color: #2f2c2a;
}

/* COLOR VALUE DUMP ********************************************************* */
/*# sourceMappingURL=fsa-style-docs.css.map */