.fsa-section {

  & {
    padding-left: $size-default;
    padding-right: $size-default;
    padding-bottom: $size-default;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  &--contrast {
    background-color: $color-fsa-tertiary-100;
  }

  &--light {
    $bc: shade($color-fsa-tertiary-100, 5%);
    background-color: $color-fsa-white;
    border-top-color: $bc;
    border-bottom-color: $bc;
  }

  &__bd {
    margin-left: auto;
    margin-right: auto;
    max-width: $site-max-width;
  }

}
