////////////////////////////////////////////////////////////////////////
// Select

@mixin fsa-selectfooyeahwhoopdeedooyoubetterfixthis {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-white;
  background-image: url('../img/arrow-down.png');
  background-image: url('../img/arrow-down.svg');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
  height: $button-height;
  border-radius: $form-border-radius;
  box-shadow: none;
  appearance: none;
  border: 1px solid $form-outline-color;
  // scss-lint:disable TrailingSemicolon SpaceAfterPropertyColon
  padding:
    ($form-padding - 2px) // to achieve vertical alignment
    ($form-padding * 4) // to prevent text beneath arrow
    ($form-padding - 1px) // to achieve vertical alignment
    ($form-padding)
  ;
  margin: 0;
  background-color: $white;
  color: $form-text-color;
  display: inline-block;;
  line-height: 1;
  font-family: $form-font;
  font-size: $form-text-size;
  max-width: 100%;
  text-overflow: ellipsis;

  vertical-align: middle;
  position: relative;
  top: -1px;

  @supports (-webkit-appearance: none) {
    /* Webkit only */
    // yep, a SINGLE pixel bugged me enough to do this
    padding-top: $form-padding - 1px;
  }

  // @media screen and (-webkit-min-device-pixel-ratio: 0) {
  // }
}

.fsa-select {

  @include fsa-selectfooyeahwhoopdeedooyoubetterfixthis();

  &--block {
    display: block;
    width: 100%;
  }

  &:focus {
    border-color: $form-focus-color;
    box-shadow: 0 0 0 1px $form-focus-color inset;
    outline: 0;
  }

  &[disabled] {
    opacity: .5;
    background-color: $form-disabled-bg-color;
    cursor: not-allowed;
  }

  &--error {

    border-color: $form-error-color;
    box-shadow: 0 0 0 1px $form-error-color inset;
    background-color: $form-error-color-bg;

    @include placeholder {
      color: shade($form-placeholder-color, 20%);
    }

    &:focus {
      box-shadow: 0 0 0 2px $form-error-color-focus inset;
      border-color: transparent;
    }

  }

  &--small {
    outline: 2px dotted green;
    outline-offset: 5px;
  }

  &--large {
    outline: 2px dotted orange;
    outline-offset: 5px;
  }

}

// scss-lint:disable all
_:-ms-input-placeholder, :root .fsa-select {
  // IE doesn't like the extra padding on right.
  padding-right: $form-padding / 2;
}
