////////////////////////////////////////////////////////////////////////
// Select

.fsa-select {

  @include fsa-shared-form-properties();

  background-image: url('../img/arrow-down.png');
  background-image: url('../img/arrow-down.svg');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;

  // scss-lint:disable TrailingSemicolon SpaceAfterPropertyColon
  padding:
    ($form-padding - 2px) // to achieve vertical alignment
    ($form-padding * 4) // to prevent text beneath arrow
    ($form-padding - 1px) // to achieve vertical alignment
    ($form-padding)
  ;

  text-overflow: ellipsis;

  vertical-align: middle;
  position: relative;
  top: -1px;

  @supports (-webkit-appearance: none) {
    /* Webkit only */
    // yep, a SINGLE pixel bugged me enough to do this
    padding-top: $form-padding - 1px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    // IE doesn't like the extra padding on right.
    padding-right: $form-padding / 2;
  }

  &:focus {
    border-color: $form-focus-color;
    box-shadow: 0 0 0 1px $form-focus-color inset;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &[disabled] {
    opacity: .5;
    background-color: $form-disabled-bg-color;
    cursor: not-allowed;
  }

  &--error {

    border-color: $form-error-color;
    box-shadow: 0 0 0 1px $form-error-color inset;
    background-color: $form-error-color-bg;

    @include placeholder {
      color: shade($form-placeholder-color, 20%);
    }

    &:focus {
      box-shadow: 0 0 0 2px $form-error-color-focus inset;
      border-color: transparent;
    }

  }

  &--small {

    height: $button-height--sm;
    padding-top: $size-small - 4px;
    padding-bottom: $size-small + 1px;
    font-size: $font-size-1; // no we're not using mixin cuz we don't want its line-height

    @supports (-webkit-appearance: none) {
      padding-top: $form-padding - 1px;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding-top: $form-padding - 1px;
    }

  }

  &--large {

    height: $button-height--lg;
    padding-top: ($button-padding * 2) - 9px;
    padding-bottom: ($button-padding * 2) - 3px;
    font-size: $font-size-6; // no we're not using mixin cuz we don't want its line-height
    top: -3px;

    @supports (-webkit-appearance: none) {
      padding-top: ($button-padding * 2) - 4px;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding-top: ($button-padding * 2) - 4px;
    }

  }


}
