////////////////////////////////////////////////////////////////////////
// Text Fields

%form-radiocheckbox-redux {

  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
  user-select: none;

  input {
    @include position(absolute, 0 0 0 0);
    opacity: 0;
    cursor: pointer;
  }

  .nub {
    @include position(relative, -1px 0 0 0);
    transition: border .23s ease-out;
    margin: 0;
    padding: 0;
    border: 1px solid $form-outline-color;
    display: inline-block;
    vertical-align: middle;
    width: $form-radiocheckbox-size;
    height: $form-radiocheckbox-size;
    margin-right: $size-base;
    cursor: pointer;
    background-color: $white;
  }

  &.is-disabled {
    cursor: not-allowed;
    .nub {
      opacity: .5;
      background-color: $form-disabled-bg-color;
      cursor: not-allowed;
    }
  }

  :checked + .nub {
    //border-width: 2px;
  }

  :focus + .nub {
    border-color: $form-focus-color;
    border-width: $form-radio-check-border-width;
  }

}

.form-text,
.form-textarea {

  height: $button-height;
  border-radius: $form-border-radius;
  box-shadow: none;
  appearance: none;
  border: 1px solid $form-outline-color;
  // scss-lint:disable TrailingSemicolon SpaceAfterPropertyColon
  padding:
    ($form-padding - 1px) // to achieve vertical alignment
    ($form-padding)
    ($form-padding)
  ;
  margin: 0;
  background-color: $white;
  color: $form-text-color;
  display: inline-block;;
  line-height: 1;
  font-family: $form-font;
  font-size: $form-text-size;

  @include placeholder {
    color: $form-placeholder-color;
  }

  &:focus {
    border-color: $form-focus-color;
    box-shadow: 0 0 0 1px $form-focus-color inset;
    outline: 0;
  }

  &--disabled {
    opacity: .5;
    background-color: $form-disabled-bg-color;
    cursor: not-allowed;
  }

  &--error {

    border-color: $form-error-color;
    box-shadow: 0 0 0 1px $form-error-color inset;
    background-color: $form-error-color-bg;

    @include placeholder {
      color: shade($form-placeholder-color, 20%);
    }

    &:focus {
      box-shadow: 0 0 0 2px $form-error-color-focus inset;
      border-color: transparent;
    }

  }

  &--block {
    display: block;
    width: 100%;
  }

  &--small {
    height: $button-height--sm;
    font-size: $form-text-size--sm;
  }

  &--large {
    height: $button-height--lg;
    font-size: $form-text-size--lg;
    padding-left: $form-padding + $size-base;
  }

}

.form-textarea {
  min-height: 15rem;
  display: block;
  max-width: none;
  width: 100%;
  line-height: $base-line-height;
  padding: $form-padding;
  resize: vertical;
}

////////////////////////////////////////////////////////////////////////
// Checkbox and Radio

.temp-asdfasdfasdf {
  display: flex;

  & > div {
    flex: 1;
    padding: 0 8px;
  }

}

.form-checkbox,
.form-radio {
  appearance: none;
  background-color: $white;
  border: 1px solid $form-outline-color;
  transition: border .23s ease-out;
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .3em -.1em 0;
  padding: 0;
  position: relative;
  top: 0;
  overflow: hidden;
  cursor: pointer;

  &:checked {
    background-color: $form-checkbox-fill;
    border-color: $form-checkbox-fill;
  }

  &:disabled {
    cursor: text;
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.form-checkbox {

  border-radius: 2px;

  &:checked {

    border: 0;

    &:before {
      bottom: 0;
      color: white;
      content: '\00D7';
      font-family: $font-sans;
      font-weight: $font-bold;
      font-size: 1.2em;
      left: 0;
      line-height: 1;
      position: absolute;
      right: 0;
      text-align: center;
      top: -.1em;
    }

  }

}

.form-radio {

  border-radius: 100%;

  &:checked {

    &:before {
      @include position(absolute, 1px 1px 1px 1px);
      box-shadow: 0 0 0 .2em $white inset;
      border-radius: 100%;
      color: white;
      content: ' ';
      overflow: hidden;
      text-align: center;
    }

  }
}
