.skipnav {
  background: white;
  font-weight: $font-bold;
  padding: 1rem 1.5rem;
  position: absolute;
  left: 50%;
  top: -110%;
  z-index: 9999999;
  transition: none;

  &:focus {
    transition: all .2s ease-in-out;
    transform: translateX(-50%);
    outline: 0;
    position: absolute;
    top: $size-default;
  }
}
