$badge-spacing: ($size-base - .1rem);

$badge-text-color: $color-fsa-white;


$badge-bgc: $color-fsa-tertiary-300;
$badge-bgc-general: $color-fsa-secondary-900;
$badge-bgc-alert: $color-fsa-red;
$badge-bgc-warning: $color-gold-light;
$badge-bgc-success: $color-fsa-primary;

$badge-text-color-warning: $color-black;

.fsa-badge {

  @include font-size(0);
  @include reset-button();
  line-height: 1;
  font-weight: $font-bold;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background-color: $badge-bgc;
  border-radius: $size-default;
  text-align: center;
  min-width: 20px;
  color: $badge-text-color;
  padding: $badge-spacing;
  cursor: default;

  &:visited {
    color: $badge-text-color;
  }

  &:not(:empty) + & {
    margin-left: ($badge-spacing / 2);
  }

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  &--general {
    background-color: $badge-bgc-general;
  }

  &--alert {
    background-color: $badge-bgc-alert;
  }

  &--warning {
    background-color: $badge-bgc-warning;
    color: $badge-text-color-warning;
    &:visited {
      color: $badge-text-color-warning;
    }
  }

  &--success {
    background-color: $badge-bgc-success;
  }

  &--large {
    @include font-size(3);
    border-radius: $size-medium;
    min-width: 24px;
  }

  &--inverse {

    background-color: $badge-text-color;
    color: $color-fsa-base;

    &[href] {

      &:hover,
      &:focus,
      &:active {
        color: inherit;
        background-color: $color-fsa-secondary-100;
      }

    }

  }

  .fsa-btn &,
  .fsa-btn-group__item & {
    float: right;
    margin-left: $size-small;
    position: relative;
    top: -3px;
  }

  // scss-lint:disable SelectorFormat
  .fsa-btn-group--small &,
  .fsa-btn--small & {
    top: -5px;
  }

  .fsa-btn--large &,
  .fsa-btn-group--large & {
    top: -1px;
  }

  .fsa-btn--large &.fsa-badge--large {
    top: -3px;
  }

}

// scss-lint:disable QualifyingElement
button.fsa-badge,
a.fsa-badge {

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: $badge-text-color;
    background-color: $color-fsa-aqua-900;
  }

}
