$label-spacing: ($size-base - .1rem);

.fsa-label {

  & {
    @include reset-button();
    @include font-size(0);
    font-family: $font-sans; // brute-force to override any inheritance (e.g. within an <h1>)
    font-weight: $font-normal; // brute-force to override any inheritance (e.g. within an <h1>)
    line-height: 1;
    display: inline-block;
    background-color: $marker-bgc;
    color: $marker-text-color;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    cursor: initial;
    padding: $label-spacing ($label-spacing + .1rem);
    letter-spacing: .5px;
    border-radius: 2px;
    box-shadow: 0 -1px 0 adjust-color($color-fsa-tertiary, $alpha: -0.85) inset;
    a &,
    button & {
      cursor: pointer;
    }
  }

  &:visited {
    color: $marker-text-color;
  }

  &--neutral {
    background-color: $marker-bgc-neutral;
    box-shadow:
      0 -1px 0   adjust-color($color-fsa-tertiary, $alpha: -0.75) inset,
      0 0 0 1px  adjust-color($color-fsa-tertiary, $alpha: -0.85) inset
    ;
  }

  &--general {
    background-color: $marker-bgc-general;
  }

  &--alert {

    background-color: $marker-bgc-alert;

    @media print {
      background-color: shade($marker-bgc-alert, 60%);
    }

  }

  &--warning {
    background-color: $marker-bgc-warning;
  }

  &--success {
    background-color: $marker-bgc-success;
  }

  &--large {
    @include font-size(3);
    padding-left: ($label-spacing * 1.5);
    padding-right: ($label-spacing * 1.5);
    letter-spacing: initial;
  }

  &[disabled] {
    opacity: .75;
    filter: grayscale(55%);
    color: transparentize($marker-text-color, .1);
    cursor: not-allowed;
  }

  h1 &,
  h2 & {
    position: relative;
    top: -$size-base;
    margin-left: $size-base;
  }

}

// scss-lint:disable QualifyingElement
button.fsa-label,
a.fsa-label {

  &:hover:not([disabled]),
  &:focus,
  &:active {
    cursor: pointer;
    box-shadow:
      0 -1px 0   adjust-color($color-fsa-tertiary, $alpha: -0.20) inset,
      0 0 0 1px  adjust-color($color-fsa-tertiary, $alpha: -0.60) inset
    ;
  }

}
