////////////////////////////////////////////////////////////////////////
// Table

$table-bgc:          $color-fsa-white;
$table-header-bgc:   $color-fsa-tertiary-100;
$table-border-color: $color-fsa-tertiary-200;
$table-padding:      $size-default;

table {

  width: 100%;
  border-spacing: 0;
  margin: 2em 0;
  min-width: 100%;

}

caption {
  caption-side: bottom;
  text-align: left;
  margin-top: .5em;
  color: $color-fsa-tertiary-300;
  font-weight: $font-bold;
}

th,
td {

  $table-padding-unstyled: $table-padding;

  text-align: left;

  // scss-lint:disable TrailingSemicolon SpaceAfterPropertyColon
  padding:
    0
    $table-padding-unstyled
    $table-padding-unstyled
    0
  ;

  &:last-child {
    padding-right: 0;
  }

}

th {

  font-weight: $font-normal;

  thead & {
    font-weight: $font-bold;
    color: tint($color-fsa-tertiary, 15%);
  }

  &[aria-sort] {
    color: $color-base;
  }

}

.fsa-table {

  background-color: $table-bgc;

  @include breakpoint(M, down) {
    @include font-size(2);
  }

  th,
  td {

    border: 1px solid $table-border-color;
    padding: $table-padding;
    vertical-align: top;

    @include breakpoint(M, down) {
      padding: $table-padding - $size-base;
    }

  }

  thead {

    tr {
      background-color: $table-header-bgc;
    }

  }

  &--borderless {

    background-color: transparent;
    border-top: .2rem solid $table-border-color;

    th,
    td {

      border-left: 0;
      border-right: 0;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

    }

    thead {
      tr {
        background-color: transparent;
      }
      th {
        border-top: 0;
      }
    }

  }

  &--responsive {

    @include breakpoint(M, down) {

      background-color: $table-bgc;

      border-top: 1px solid $table-border-color;

      thead {
        display: none;
      }

      tr {
        display: block;
        border-right: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
        border-left: 1px solid $table-border-color;
        padding: $table-padding;
      }

      th,
      td {

        display: block;
        border: 0;
        padding: 0;
        width: 100%;
        text-align: left;

        &:before {
          content: attr(aria-label);
          text-transform: uppercase;
          display: block;
          font-weight: $font-bold;
          margin-top: 1em;
          color: $color-title;
        }

        &:first-child {
          &:before {
            margin-top: 0;
          }
        }

      }

    }

  }

  &--responsive-horizontal {

    @include breakpoint(M, down) {

      th,
      td {

        display: flex;
        justify-content: space-between;
        text-align: right;
        vertical-align: top;
        margin-bottom: $size-small;

        &:last-child {
          margin-bottom: initial;
        }

        &:before {
          @include font-size(2);
          display: initial;
          margin-right: $size-small;
          margin-top: initial;
          text-align: left;
        }

      }

    }

  }

  &__sort {

    @include reset-button;
    display: block;
    width: 100%;

    .fsa-text-align--right & {
      text-align: right;
    }

    &:focus,
    &:hover {
      color: $color-fsa-link-hover;
    }

    &:after {
      content: '';
      background-size: 100%;
      width: 12px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px;
      margin-left: 4px;
    }

    &--descending:after {
      background-image: url('#{$image-path}/chevron-up.png');
      background-image: url('#{$image-path}/chevron-up.svg');
    }

    &--ascending:after {
      background-image: url('#{$image-path}/chevron-down.png');
      background-image: url('#{$image-path}/chevron-down.svg');
    }

    &:hover:not(.fsa-table__sort--descending, .fsa-table__sort--ascending) {
      &:after {
        background-image: url('#{$image-path}/chevron-up.png');
        background-image: url('#{$image-path}/chevron-up.svg');
        opacity: .4;
      }
    }

  }

}
