$label-spacing: $size-base;

$label-bgc: $color-fsa-secondary-900;
$label-bgc-alert: $color-fsa-red;
$label-bgc-warning: $color-gold-lighter;
$label-bgc-success: $color-fsa-primary;

$label-text-color: $color-fsa-white;
$label-text-color-warning: $color-black;

.fsa-label {

  @include font-size(0);
  @include reset-button();
  display: inline-block;
  background-color: $label-bgc;
  color: $label-text-color;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  padding: $label-spacing;
  &[href]:hover {
    color: $label-text-color;
  }

  & + & {
    margin-left: $label-spacing;
  }

  &--alert {
    background-color: $label-bgc-alert;
    &[href]:hover {
      color: $label-text-color;
    }
  }

  &--warning {
    background-color: $label-bgc-warning;
    color: $label-text-color-warning;
    &[href]:hover {
      color: $label-text-color-warning;
    }
  }

  &--success {
    background-color: $label-bgc-success;
  }

  &--large {
    @include font-size(3);
    padding-left: ($label-spacing * 1.5);
    padding-right: ($label-spacing * 1.5);
  }

}
