p {
  line-height: inherit;
}

html,
button,
input,
select,
textarea {
// [class *= "fsa-g"]
  font-family: $font-sans;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  color: $color-title;
  font-weight: $font-light;
}

h3,
h4,
h5 {
  font-weight: $font-normal;
}

h6 {
  font-weight: $font-bold;
  margin-bottom: 0;
}

.fsa-font-lead,
.usa-font-lead {

  font-weight: $font-light;
  font-size: $lead-font-size;

  b,
  strong {
    font-weight: bolder;
  }

}
