$date-picker-text-color-default: $color-fsa-base;
$date-picker-text-color-disabled: tint($date-picker-text-color-default, 60%);
$date-picker-border-color: $form-outline-color;
$date-picker-table-cell-border-color: tint($table-border-color, 50%);
$date-picker-table-cell-padding: $size-default;
$date-picker-bg-color: #fff;
$date-picker-bg-color-disabled: tint($color-fsa-tertiary, 96%);
$date-picker-bg-color-hover: $color-fsa-aqua-100;

/* body */.date-picker-is-dragging {
}

.date-picker {

  & {

    border: 1px solid $date-picker-border-color;
    position: absolute;
    z-index: 9999;
    text-align: center;
    background: white;
    user-select: none;

  }

  // ----------------------------------------------------------------------------
  // Variations

  &--static {
    box-shadow: none;
    position: relative;
    margin: 0;
    margin-top: $size-small;
    margin-bottom: 1em;
    .fsa-field__date-input-hidden + & {
      margin-top: 0;
    }
  }

  &--disabled {
    opacity: .6 !important;
    background-color: transparent;
    filter: grayscale(1);
    &:hover *,
    &:hover {
      cursor: not-allowed !important;
    }
  }

  &--focus {
    box-shadow: 0 $size-base $size-small 0 rgba(0, 0, 0, .25);
  }

  &--drag-enabled {}

  &--weeks-displayed {}

}

.date-picker .date-picker__month-display,
.date-picker .date-picker__year-display {
  display: inline-block;
  color: $color-fsa-secondary-900;
}

.date-picker .date-picker__prev-but,
.date-picker .date-picker__next-but {
  @include font-size(6);
  font-weight: normal;
  cursor: pointer;
}

.date-picker .date-picker__prev-but,
.date-picker .date-picker__next-but,
.date-picker .date-picker__today-but {
  color: $color-fsa-link;
  display: block;
}

.date-picker__prev-but--year {}
.date-picker__prev-but--month {}

.date-picker__next-but--year {}
.date-picker__next-but--month {}

.date-picker .date-picker__prev-but:hover,
.date-picker .date-picker__next-but:hover,
.date-picker .date-picker__today-but:hover {
  color: $color-fsa-link-hover;
}

.date-picker .date-picker__prev-but:hover,
.date-picker .date-picker__next-but:hover {
  outline: 1px solid $date-picker-text-color-disabled;
}

.date-picker .date-picker__today-but {
  @include font-size(3);
  display: block;
  padding-top: $size-small;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  font-weight: $font-bold;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
}

.date-picker--disabled .date-picker__prev-but,
.date-picker--disabled .date-picker__next-but,
.date-picker--disabled .date-picker__today-but,
.date-picker--disabled .date-picker__prev-but:hover,
.date-picker--disabled .date-picker__next-but:hover,
.date-picker--disabled .date-picker__today-but:hover,
.date-picker .date-picker__prev-but.date-picker__disabled-item:hover,
.date-picker .date-picker__next-but.date-picker__disabled-item:hover,
.date-picker .date-picker__disabled-item,
.date-picker .date-picker__disabled-item:hover {
  cursor: cursor !important;
  opacity: .5;
  filter: grayscale(1);
}

.date-picker .date-picker__today-but.date-picker__disabled-item {
  opacity: 1;
  filter: grayscale(0);
}

.date-picker .date-picker__day { /* [class*="date-picker__day"] */ }
.date-picker .date-picker__day-name {}

.date-picker [class*="date-picker__day--mmdd-"] {
  outline: 1px solid green !important;
}
.date-picker [class*="date-picker__day--cd-"] {
}

.date-picker--disabled .date-picker__day--hover {
  outline: 0 !important;
  background-color: transparent !important;
}

.date-picker .date-picker__prev-but.date-picker__disabled-item:hover,
.date-picker .date-picker__next-but.date-picker__disabled-item:hover {}

.date-picker table,
.date-picker td,
.date-picker tbody th,
.date-picker .date-picker__day--disabled,
.date-picker .date-picker__day--hover.date-picker__day--disabled,
.date-picker .date-picker__day--unused,
.date-picker .date-picker__day--month-out {}

.date-picker__table {
  @include font-size(2);
  table-layout: fixed;
  empty-cells: show;
  border-collapse: collapse;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
  width: auto;
  height: auto;
}

.date-picker td,
.date-picker tbody th {
  color: $date-picker-text-color-default;
  width: $size-large;
  border: 1px solid $date-picker-table-cell-border-color;
  border-left: 0;
  border-right: 0;
  padding: $date-picker-table-cell-padding;
  line-height: 1;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}

.date-picker th {
  @include font-size(1);
  border: 0 none;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  text-transform: none;
}

.date-picker .date-picker__row {}

.date-picker .date-picker__row--highlight {}

.date-picker .date-picker__week-header {
  @include font-size(0);
  background: transparent;
  cursor: default;
  border-left: 0;
  font-weight: $font-bold;
  background-color: tint($color-fsa-tertiary, 95%);
  border-right: 1px solid $date-picker-border-color;
}

.date-picker .date-picker__thead {}

.date-picker .date-picker__thead .date-picker__week-header {
  background-color: transparent;
  font-weight: normal;
  text-transform: uppercase;
  cursor: help;
}

.date-picker .date-picker__day--header {
  /* The "mon tue wed thu fri sat sun" day header styles */
  cursor: help;
  text-transform: uppercase;
  padding: $size-small $size-base;
}

.date-picker .date-picker__status-bar {
  /* tfoot status bar */
  @include font-size(2);
  cursor: default;
  font-weight: normal;
  text-transform: uppercase;
  border: 0 none;
  padding: ($date-picker-table-cell-padding / 2);
}

.date-picker .date-picker__day--unused {
  /* TD cell that is _not_ used to display a day of the month */
  cursor: default !important;
}

.date-picker .date-picker__title {
  /* [month] [year] title */
  @include font-size(3);
  padding: $size-base;
  font-weight: $font-bold;
  border-bottom: 1px solid $date-picker-border-color;
}

.date-picker .date-picker__day--today {
  /* The "todays date" cell style */
  font-weight: $font-bold;
}

.date-picker .date-picker__day--month-out.date-picker__day--highlight {}


.date-picker .date-picker__day--highlight { /* The "highlight days" style */ }

.date-picker .date-picker__day--0 { /* Monday */ }
.date-picker .date-picker__day--1 { /* Tuesday */ }
.date-picker .date-picker__day--2 { /* Wednesday */ }
.date-picker .date-picker__day--3 { /* Thursday */ }
.date-picker .date-picker__day--4 { /* Friday */ }
.date-picker .date-picker__day--5 { /* Saturday */ }
.date-picker .date-picker__day--6 { /* Sunday */ }

.date-picker--focus .date-picker__day--hover {
  outline: 3px solid $color-focus !important;
  background: $date-picker-bg-color-hover;
}

.date-picker--focus:hover .date-picker__day--hover:not(.date-picker__day--selected-date) {
  outline: 0 !important;
  background: $date-picker-bg-color-hover;
}

.date-picker--static.date-picker--focus {
  box-shadow: none;
}

.date-picker--static:hover .date-picker__day--hover:not(.date-picker__day--selected-date) {
  background: $date-picker-bg-color-hover;
}

.date-picker .date-picker__day--disabled {
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
}

.date-picker .date-picker__day--disabled:hover {
  background-color: $date-picker-bg-color-disabled;
  filter: grayscale(1);
  color: inherit;
}

.date-picker .date-picker__day--month-out { /* Used only when `fillGrid: true` */ }

.date-picker .date-picker__day--out-of-range,
.date-picker .date-picker__day--not-selectable {
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
  cursor: default;
}

.date-picker th.date-picker__day--month-out,
.date-picker th.date-picker__day--out-of-range {
  /* Week number "out of range" && "date-picker__day--month-out" styles */
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
}

.date-picker .date-picker__day--out-of-range {
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
}

.date-picker .date-picker__day--not-selectable {
  /* Used when the entire grid is full but the next/prev months dates cannot be selected */
  color: $date-picker-text-color-disabled;
}

.date-picker sup {
  text-transform: none;
}

.date-picker .date-picker__day--header,
.date-picker .date-picker__month-display,
.date-picker .date-picker__year-display {
  color: $color-fsa-link;
  cursor: pointer;
  &:hover {
    color: $color-fsa-link-hover
  }
}

.date-picker .date-picker__month-display,
.date-picker .date-picker__year-display {
  @include font-size(4);
  color: $date-picker-text-color-default;
  cursor: default;
}

.date-picker .date-picker__day--hover {
  z-index: 99999;
  // overflow:hidden;
}

.date-picker td[tabindex]:focus {
  outline: 0;
}

.date-picker .date-picker__day--selected-date {
  background-color: $color-fsa-secondary-900;
  color: #fff;
  font-weight: $font-bold;
}

.date-picker .date-picker--drag-enabled,
.date-picker .date-picker--drag-enabled span {
  cursor: move;
}

.date-picker--disabled table {
  // opacity:.8 !important;
}

.date-picker--disabled,
.date-picker--disabled td,
.date-picker--disabled th,
.date-picker--disabled th span {
  cursor: default !important;
}

.date-picker .date-picker__tfoot {}


///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
// SHAME TOD

// .sample-bespoke-class {
//   outline: 2px solid blue;
// }
