.fsa-content-tabs {

  $tab-padding: $size-small;

  display: flex;

  &--justified {}

  &__list {

    display: table;
    list-style: none;
    width: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    // scss-lint:disable SelectorFormat
    .fsa-content-tabs--justified & {
      width: 100%;
    }

    .fsa-content-tabs--justified-equal & {
      width: 100%;
      table-layout: fixed;
    }

  }

  &__aside {

    display: block;
    flex: 1;
    content: '';
    border-bottom: 1px solid $color-fsa-tertiary-200;

    // scss-lint:disable SelectorFormat
    .fsa-content-tabs--justified &,
    .fsa-content-tabs--justified-equal & {
      display: none;
    }


  }

  &__item {
    display: table-cell;
    border-bottom: 1px solid $color-fsa-tertiary-200;
    vertical-align: bottom;
  }

  &__label {

    @include font-size(4);
    display: block;
    text-decoration: none;
    // color: $color-fsa-base;
    text-align: center;
    color: $color-fsa-tertiary-300;
    padding-right: ($tab-padding * 2);
    padding-left: ($tab-padding * 2);

    .fsa-content-tabs__item:first-child & {
      padding-left: 0;
    }

    .fsa-content-tabs__item:last-child & {
      padding-right: 0;
    }

    &:link,
    &:visited {
      color: $color-fsa-tertiary;
    }

    &:hover {
      color: inherit;
    }

    &--small {

      @include font-size(3);
      padding-left: ($tab-padding + $size-base);
      padding-right: ($tab-padding + $size-base);

    }

    &--large {

      @include font-size(5);

    }

    // scss-lint:disable SelectorFormat
    .fsa-content-tabs--justified & {
      padding-left: ($tab-padding / 2);
      padding-right: ($tab-padding / 2);
    }

  }

  &__label-text {

    display: block;
    padding-top: $tab-padding;
    padding-bottom: ($tab-padding + $size-base);
    position: relative;

    &:hover,
    &:focus {
      box-shadow: 0 (-$size-base / 2) 0 0 $color-fsa-tertiary-300 inset;
    }

    // scss-lint:disable SelectorFormat
    .fsa-content-tabs__label--active & {
      box-shadow: 0 (-$size-base) 0 0 $color-fsa-secondary inset;
    }

    .fsa-content-tabs__label--small & {
      padding-top: ($tab-padding - $size-base);
      padding-bottom: $tab-padding;
    }

    .fsa-content-tabs__label--unsaved &:after {
      content: '\2022';
      color: $color-fsa-red; //$color-fsa-tertiary-300
      font-size: 24px;
      line-height: 1;
      position: absolute;
      right: $size-small;
    }

  }

}
