///////////////////////////////////////////////////////////////////////

.fsa-box {
  .asdfasdf & {
    outline: 1px solid orangered;
  }
}

.exp-a {
  & * {
    // background-color: red;
  }
  & {
    width: 310px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__item {
    & {}
    &--grow {
      flex: 1;
    }
  }
}

///////////////////////////////////////////////////////////////////////

