$date-picker-text-color-default: $color-fsa-base;
$date-picker-text-color-disabled: tint($date-picker-text-color-default, 60%);
$date-picker-border-color: $form-outline-color;
$date-picker-table-cell-border-color: tint($table-border-color, 50%);
$date-picker-table-cell-padding: $size-default;
$date-picker-bg-color: #fff;
$date-picker-bg-color-disabled: tint($color-fsa-tertiary, 96%);
$date-picker-bg-color-hover: $color-fsa-aqua-100;

/*
    The wrapper div
*/

.date-picker {
  border: 1px solid $date-picker-border-color;
  position: absolute;
  z-index: 9999;
  text-align: center;
  background: white;
  user-select: none;
}

.date-picker--static {
  box-shadow: none;
  position: relative;
  margin: 0;
  margin-top: $size-small;
  margin-bottom: 1em;
  .fsa-field__date-input-hidden + & {
    margin-top: 0;
  }
}

.date-picker .month-display,
.date-picker .year-display {
  display: inline-block;
  color: $color-fsa-secondary-900;
}

.date-picker .prev-but,
.date-picker .next-but {
  @include font-size(6);
  font-weight: normal;
  cursor: pointer;
}

.date-picker .prev-but,
.date-picker .next-but,
.date-picker .today-but {
  color: $color-fsa-link;
  display: block;
}

.date-picker .prev-but:hover,
.date-picker .next-but:hover,
.date-picker .today-but:hover {
  color: $color-fsa-link-hover;
}

.date-picker .prev-but:hover,
.date-picker .next-but:hover {
  outline: 1px solid $date-picker-text-color-disabled;
}

.date-picker .today-but {
  @include font-size(3);
  display: block;
  padding-top: $size-small;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  font-weight: $font-bold;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
}

.date-picker-disabled {
  opacity: .6 !important;
  background-color: transparent;
  filter: grayscale(1);
  &:hover *,
  &:hover {
    cursor: not-allowed !important;
  }
}

/*     Disabled buttons */

.date-picker-disabled .prev-but,
.date-picker-disabled .next-but,
.date-picker-disabled .today-but,
.date-picker-disabled .prev-but:hover,
.date-picker-disabled .next-but:hover,
.date-picker-disabled .today-but:hover,
.date-picker .prev-but.fd-disabled:hover,
.date-picker .next-but.fd-disabled:hover,
.date-picker .fd-disabled,
.date-picker .fd-disabled:hover {
  cursor: cursor !important;
  opacity: .5;
  filter: grayscale(1);
}

.date-picker .today-but.fd-disabled {
  opacity: 1;
  filter: grayscale(0);
}

.date-picker-disabled .date-picker-hover {
  outline: 0 !important;
  background-color: transparent !important;
}

.date-picker .prev-but.fd-disabled:hover,
.date-picker .next-but.fd-disabled:hover {}

.date-picker table,
.date-picker td,
.date-picker tbody th,
.date-picker .day-disabled,
.date-picker .date-picker-hover.day-disabled,
.date-picker .date-picker-unused,
.date-picker .month-out {}

.date-picker-table {
  @include font-size(2);
  table-layout: fixed;
  empty-cells: show;
  border-collapse: collapse;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
  width: auto;
  height: auto;
}

.date-picker td,
.date-picker tbody th {
  color: $date-picker-text-color-default;
  width: $size-large;
  border: 1px solid $date-picker-table-cell-border-color;
  border-left: 0;
  border-right: 0;
  padding: $date-picker-table-cell-padding;
  line-height: 1;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}

.date-picker th {
  @include font-size(1);
  border: 0 none;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  text-transform: none;
}

.date-picker .date-picker-row-highlight {}

.date-picker .date-picker-week-header {
  @include font-size(0);
  background: transparent;
  cursor: default;
  border-left: 0;
  font-weight: $font-bold;
  background-color: tint($color-fsa-tertiary, 95%);
  outline: 1px solid lime;
}

.date-picker .date-picker-thead .date-picker-week-header {
  background-color: transparent;
  font-weight: normal;
  text-transform: uppercase;
  cursor: help;
}

.date-picker .date-picker-day-header {
  /* The "mon tue wed etc" day header styles */
  cursor: help;
  text-transform: uppercase;
  padding: $size-small $size-base;
}

.date-picker .date-picker-statusbar {
  /* tfoot status bar */
  @include font-size(2);
  cursor: default;
  font-weight: normal;
  text-transform: uppercase;
  border: 0 none;
  padding: ($date-picker-table-cell-padding / 2);
}

.date-picker .date-picker-unused {
  /* TD cell that is _not_ used to display a day of the month */
  cursor: default !important;
}

.date-picker .date-picker-title {
  /* [month] [year] title */
  @include font-size(3);
  padding: $size-base;
  font-weight: $font-bold;
  border-bottom: 1px solid $date-picker-border-color;
}

.date-picker .date-picker-today {
  /* The "todays date" cell style */
  font-weight: $font-bold;
}

.date-picker .month-out.date-picker-highlight {}


.date-picker .date-picker-highlight { /* The "highlight days" style */ }

.date-picker .day-5 { /* Saturday*/ }
.date-picker .day-6 { /* Sunday */ }

.date-picker-focus {
  box-shadow: 0 $size-base $size-small 0 rgba(0, 0, 0, .25);
}

.date-picker-focus .date-picker-hover {
  outline: 3px solid $color-focus !important;
  background: $date-picker-bg-color-hover;
}

.date-picker-focus:hover .date-picker-hover:not(.date-picker-selected-date) {
  outline: 0 !important;
  background: $date-picker-bg-color-hover;
}

.date-picker--static.date-picker-focus {
  box-shadow: none;
}

.date-picker--static:hover .date-picker-hover:not(.date-picker-selected-date) {
  background: $date-picker-bg-color-hover;
}

.date-picker .day-disabled {
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
}

.date-picker .day-disabled:hover {
  background-color: transparent;
  color: inherit;
}

.date-picker .month-out {
  color: $date-picker-text-color-disabled;
}

.date-picker .out-of-range,
.date-picker .not-selectable {
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
  cursor: default;
}

.date-picker th.month-out,
.date-picker th.out-of-range {
  /* Week number "out of range" && "month-out" styles */
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
}

.date-picker .out-of-range {
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
}

.date-picker .not-selectable {
  /* Used when the entire grid is full but the next/prev months dates cannot be selected */
  color: $date-picker-text-color-disabled;
}

.date-picker tr {
  display: table-row;
}

.date-picker sup {
  font-size: 0.86em;
  letter-spacing: normal;
  text-transform: none;
  height: 0;
  line-height: 1;
  position: relative;
  top: -0.2em;
  vertical-align: baseline !important;
  vertical-align: top;
}

.date-picker .date-picker-day-header,
.date-picker .month-display,
.date-picker .year-display {
  color: $color-fsa-link;
  cursor: pointer;
  &:hover {
    color: $color-fsa-link-hover
  }
}

.date-picker .month-display,
.date-picker .year-display {
  @include font-size(4);
  color: $date-picker-text-color-default;
  cursor: default;
}

.date-picker .date-picker-hover {
  z-index: 99999;
  // overflow:hidden;
}

.date-picker td:focus {
  outline: 0 none;
}

.date-picker td[tabindex]:focus {
  outline: 0;
}

.date-picker .date-picker-selected-date {
  background-color: $color-fsa-secondary-900;
  color: #fff;
  font-weight: $font-bold;
}

.date-picker .date-picker-selected-date.date-picker-today {
  background-image: none;
}

/*
  Draggable datepickers
*/

.date-picker .drag-enabled,
.date-picker .drag-enabled span {
  cursor: move;
}

.date-picker-disabled table {
  // opacity:.8 !important;
}

.date-picker-disabled,
.date-picker-disabled td,
.date-picker-disabled th,
.date-picker-disabled th span {
  cursor: default !important;
}
