.fsa-header-app {

  background-color: $color-fsa-primary;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: $color-fsa-white;

  &__bd {

    display: flex;
    max-width: ($site-max-width + 24px);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: $color-fsa-white;
    padding: $size-small $size-default 0;

    @include breakpoint(M) {
      padding-top: $size-medium;
      padding-bottom: $size-small;
    }

  }

  &__primary,
  &__secondary {}

  &__primary {
    @include breakpoint(M) {
      flex: 1;
    }
  }

  &__secondary {

    display: flex;
    align-items: flex-end;
    text-align: right;
    flex: 1;
    padding-left: $size-small;

    @include breakpoint(M) {
      flex: initial;
    }

  }

  &__app-name {

    @include font-size(5);

    @include breakpoint(M) {
      font-size: $font-size-4;
    }

    @include breakpoint(L) {
      @include font-size(5);
    }

  }

	&__app-abbr {

    font-weight: $font-bold;

    &[title] {
      border-bottom: none;
    }

    &:after {

      @include breakpoint(M) {
        content: ' |';
        font-weight: $font-light;
      }

    }
	}

	&__app-full {

    display: none;
    font-weight: $font-light;

    @include breakpoint(M) {
      display: inline;
    }

	}

}
