.fsa-footer {

  padding-left: $size-default;
  padding-right: $size-default;
  background-color: $color-fsa-tertiary-300;
  text-align: left;

  a {

    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      text-decoration: none;
    }

  }

  &__bd {
    margin-left: auto;
    margin-right: auto;
    max-width: $site-max-width;
    text-align: left;
    padding: 4vh 0;
    color: white;
  }

  &__cat-header {
    @include h3();
    margin-top: 0;
    font-family: $font-sans;
    color: $white;
  }

  &__list {

    @include reset-ul();
    margin-bottom: 2em;

    @include breakpoint(L) {
      margin-bottom: 1em;
    }

  }

  &__list-item {
    @include reset-li();
    margin-bottom: .5em;
  }

}
