$date-picker-text-color-default: $color-fsa-base;
$date-picker-text-color-disabled: tint($date-picker-text-color-default, 60%);
$date-picker-border-color: $form-outline-color;
$date-picker-table-cell-border-color: tint($table-border-color, 50%);
$date-picker-table-cell-padding: $size-default;
$date-picker-bg-color: #fff;
$date-picker-bg-color-disabled: tint($color-fsa-tertiary, 96%);
$date-picker-bg-color-hover: $color-fsa-aqua-100;
$date-picker-bg-color-selected: $color-fsa-secondary-900;

@mixin date-picker-disabled-item($opacity: .6) {
  cursor: text;
  opacity: $opacity !important;
  filter: grayscale(1);
}

@mixin date-picker-cell-default {
  color: $date-picker-text-color-default;
  width: $size-large;
  border: 1px solid $date-picker-table-cell-border-color;
  border-left: 0;
  border-right: 0;
  padding: $date-picker-table-cell-padding;
  line-height: 1;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  &:last-child {
    padding: $date-picker-table-cell-padding;
  }
}

/* body */.date-picker-is-dragging {}

.date-picker {

  & {

    border: 1px solid $date-picker-border-color;
    position: absolute;
    z-index: 9999;
    text-align: center;
    background: white;
    user-select: none;

  }

  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // Variations

  &--static {

    box-shadow: none;
    position: relative;
    margin: 0;
    margin-top: $size-small;
    margin-bottom: 1em;

    .fsa-field__date-input-hidden + & {
      margin-top: 0;
    }

    &.date-picker--focus {
      box-shadow: none;
    }

  }

  &--disabled {
    @include date-picker-disabled-item();
    background-color: transparent;
    &:hover *,
    &:hover {
      cursor: text;
    }
  }

  &--focus {
    box-shadow: 0 $size-base $size-small 0 rgba(0, 0, 0, .25);
  }

  &--drag-enabled {

  }

  &--weeks-displayed {

  }

  &--drag-enabled {
    cursor: move;
  }

  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // Header

  &__title {
    /* [month] [year] title */
    @include font-size(3);
    text-align: center;
    padding: $size-base;
    font-weight: $font-bold;
    border-bottom: 1px solid $date-picker-border-color;
  }

  &__title-month,
  &__title-year {
    @include font-size(4);
    display: inline-block;
    line-height: 1;
    margin: $size-small 0;
    color: $date-picker-text-color-default;
    // cursor: text;
  }

  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // Month/Year Navigation

  &__prev-but,
  &__next-but {

    @include font-size(6);
    display: block;
    font-weight: normal;
    cursor: pointer;
    color: $color-fsa-link;

    &:hover {
      color: $color-fsa-link-hover;
    }

    &.date-picker__disabled-item,
    .date-picker__disabled-item & {
      @include date-picker-disabled-item();
    }

  }

  &__prev-but {

    &--month {}

    &--year {}

  }

  &__next-but {

    &--month {}

    &--year {}

  }

  &__today-but {

    @include font-size(3);
    color: $color-fsa-link;
    display: block;
    padding-top: $size-small;
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    font-weight: $font-bold;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;

    &.date-picker__disabled-item {
      @include date-picker-disabled-item(1);
    }

    &:hover {
      color: $color-fsa-link-hover;
    }

    .date-picker__disabled-item & {
      @include date-picker-disabled-item(1);
    }

  }

  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // Table

  &__table {
    @include font-size(2);
    table-layout: fixed;
    empty-cells: show;
    border-collapse: collapse;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 2;
    width: auto;
    height: auto;
  }

  &__thead {
    th {
      padding: 0;
      text-align: center;
    }
  }

  &__day-name {
    display: block;
    padding: $date-picker-table-cell-padding;
  }

  &__day {

    @include date-picker-cell-default();

    &:focus { // focused via [tabindex]
      // prevents weird double-focus effect (focus state collision/redundancy)
      outline: 0;
    }

    &--header {

      /* The "mon tue wed thu fri sat sun" day header styles */
      @include font-size(1);
      border: 0 none;
      text-align: center;
      vertical-align: middle;
      cursor: help;
      text-transform: uppercase;
      padding: $size-small $size-base;

    }

    &--unused {
      /* TD cell that is _not_ used to display a day of the month */
      cursor: text !important;
    }

    &--today {
      /* The "todays date" cell style */
      font-weight: $font-bold;
    }

    &--highlight { /* The "highlight days" style */ }

    &--hover {

      & {
        z-index: 99999;
      }

      .date-picker--focus & {
        outline: 3px solid $color-focus !important;
        background: $date-picker-bg-color-hover;
        &:hover {
          outline: 0 !important;
        }
      }

      .date-picker--static & {}

      .date-picker--disabled & {
        outline: 0 !important;
        background-color: transparent !important;
      }

    }

    &--hover:not(.date-picker__day--selected-date) {
      .date-picker--static & {
        background-color: $date-picker-bg-color-hover;
      }
    }

    &--selected-date {
      $bgc: $date-picker-bg-color-selected;
      background-color: $bgc;
      color: #fff;
      font-weight: $font-bold;
      &.date-picker__day--hover {
        background-color: $bgc;
      }
    }

    &--0 { /* Monday */ }
    &--1 { /* Tuesday */ }
    &--2 { /* Wednesday */ }
    &--3 { /* Thursday */ }
    &--4 { /* Friday */ }
    &--5 { /* Saturday */ }
    &--6 { /* Sunday */ }

    &--month-out { /* Used only when `fillGrid: true` */ }

    &--disabled,
    &--out-of-range,
    &--not-selectable {

      &,
      &:hover {
        color: $date-picker-text-color-disabled !important;
        background-color: $date-picker-bg-color-disabled !important;
        cursor: text;
      }

      &.date-picker__day--hover {
        outline-color: gray !important;
      }

    }

  }

  &__week-header {

    @include date-picker-cell-default();
    @include font-size(0);
    background: transparent;
    cursor: text;
    border-left: 0;
    font-weight: $font-bold;
    background-color: transparent;
    box-shadow:
      -2px 0 0 0 tint($color-fsa-tertiary, 90%) inset,
      -4px 0 0 0 tint($color-fsa-tertiary, 95%) inset,
      -6px 0 0 0 tint($color-fsa-tertiary, 98%) inset
    ;
    border-right: 1px solid $date-picker-border-color;

    .date-picker__thead & {
      vertical-align: middle;
      background-color: transparent;
      font-weight: normal;
      text-transform: uppercase;
      // border-right: 0;
      cursor: help;
      border-top: 0;
    }

  }

  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // Foot

  &__status-bar {
    /* tfoot status bar */
    @include font-size(2);
    text-align: center;
    cursor: text;
    font-weight: normal;
    text-transform: uppercase;
    border: 0 none;
    padding: ($date-picker-table-cell-padding / 2);
  }
  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  // Other / Unused / Placeholders / etc

  &__row {}

  &__row--highlight {}

  &__tfoot {}

}

