.fsa-pagination {


  $padding: $size-small;

  & {

    @include font-size(2);
    margin: $size-large auto;
    position: relative;

    @include breakpoint(S) {
      text-align: center;
    }

    @include breakpoint(M) {
      @include font-size(3);
    }

  }

  &:before {

    content: attr(data-current) ' / ' attr(data-total);
    display: block;
    position: absolute;
    padding: $padding;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(S) {
      display: none;
    }

  }

  &__list {

    @include reset-ul();
    white-space: nowrap;
    display: flex;

    @include breakpoint(S) {
      margin-left: -$size-default;
      margin-right: -$size-default;
    }

    @include breakpoint(M) {
      display: inline-flex;
    }

  }

  &__item {

    & {
      @include reset-li();
      display: none;
      flex: 1;
      @include breakpoint(S) {
        display: inline-block;
        width: auto;
      }
    }

    &--previous,
    &--next {
      display: inline-block;
    }

    &--previous {
      padding-right: $padding * 5;
      @include breakpoint(S) {
        padding-right: $padding;
      }
    }

    &--next {
      padding-left: $padding * 5;
      @include breakpoint(S) {
        padding-left: $padding;
      }
    }

  }

  &__label {

    & {

      background-color: white;
      box-shadow: 0 0 0 1px $color-fsa-tertiary-200 inset; // maybe try $button-secondary-border
      display: block;
      padding: ($padding) ($padding + ($padding / 2));
      text-decoration: none;
      border-radius: ($button-border-radius / 2);
      text-align: center;
      text-transform: uppercase;

      @include breakpoint(S) {
        background-color: transparent;
        box-shadow: none;
        text-transform: none;
      }

    }

    &:not(span):focus,
    &:not(span):active,
    &:not(span):hover {
      background-color: white;
      box-shadow: 0 0 0 1px $color-fsa-tertiary-200; // maybe try $button-secondary-border
    }

    &--previous,
    &--next {
      display: block;
      @include breakpoint(M) {
        display: inline-block;
      }
    }

    &--current {
      background-color: $color-fsa-secondary-900;
      color: white;
      margin: 0 $size-small;
      font-weight: $font-bold;
    }

    &--previous:before,
    &--next:after {
      content: '';
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      width: ($size-default + $size-base);
      height: ($size-default + $size-base);
      position: relative;
      top: 3px;
    }

    &--previous:before {
      background-image: url('#{$image-path}/chevron-left.png');
      background-image: url('#{$image-path}/chevron-left--link.svg');
      margin-right: $size-small;
    }

    &--next:after {
      background-image: url('#{$image-path}/chevron-right.png');
      background-image: url('#{$image-path}/chevron-right--link.svg');
      margin-left: $size-small;
    }

  }

}
