// scss-lint:disable EmptyRule

.fsa-btn-group {

  & {
    display: inline-block;
    white-space: nowrap;
  }

  & + & {
    margin-left: $size-base;
  }

  &--block {
    display: flex;
  }

  &--small {}

  &--large {}

  &__item {

    & {
      @include fsa-button;
      @include fsa-button(secondary);
    }

    & + & {

      margin-left: -5px;

      // scss-lint:disable SelectorFormat
      .fsa-btn-group--block & {
        margin-left: -1px;
      }

    }

    // scss-lint:disable SelectorFormat
    .fsa-btn-group--block & {
      flex: auto;
    }

    // scss-lint:disable SelectorFormat
    .fsa-btn-group--small & { @include fsa-button(small); }
    .fsa-btn-group--large & { @include fsa-button(large); }

    &:focus:not([disabled]),
    &:active:not([disabled]) {
      background-color: $color-fsa-tertiary;
    }

    &:active:not([disabled]),
    &:focus:not([disabled]) {
      background-color: $button-primary-hover;
      color: $button-primary-text;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &--active {

      @include fsa-button(primary);

      &:hover:not([disabled]) {
        color: $button-primary-text;
      }

    }

  }

}
