.fsa-header-app {

  $component-bgcolor: $color-fsa-primary;
  $component-text-color: $color-fsa-white;
  $component-spacing: $size-small;

  background-color: $component-bgcolor;
  padding-top: $component-spacing;
  padding-bottom: ($component-spacing / 2);
  color: $component-text-color;

  &__bd {

    display: flex;
    max-width: ($site-max-width + 24px);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: $component-text-color;
    // scss-lint:disable SpaceAfterPropertyColon TrailingSemicolon
    padding:
      ($component-spacing * 2)
      ($component-spacing + ($component-spacing / 2))
      ($component-spacing / 2)
    ;

    @include breakpoint(M) {
      padding-top: ($component-spacing * 4);
      padding-bottom: ($component-spacing);
    }

  }

  &__primary,
  &__secondary {
    // outline: 1px solid rgba(255, 255, 255, .2);
  }

  &__primary {}

  &__secondary {

    position: relative;
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin-left: auto;
    padding-left: $component-spacing;
    padding-bottom: ($component-spacing / 4);

  }

  &__profile {
    line-height: 1;
  }

  &__profile-link {

    display: inline-block;
    white-space: nowrap;

    &:link,
    &:visited,
    &:active {
      color: $component-text-color;
      text-decoration: none;
    }

  }

  &__profile-name {

    display: inline-block;
    @include fsa-ellipsis();
    max-width: ($size-base * 32);

    @include breakpoint(M) {
      max-width: ($size-base * 40);
    }

    @include breakpoint(L) {
      max-width: ($size-base * 55);
    }

    .fsa-header-app__profile-link:hover & {
      text-decoration: underline;
    }

  }

  &__profile-expand {

    $size: $size-default;

    display: inline-block;
    margin-left: ($size-base / 2);
    width: $size;
    height: ($size + .2rem);
    background-image: url('#{$image-path}/angle-arrow-down-hover.png');
    background-image: url('#{$image-path}/angle-arrow-down-hover.svg');
    background-size: 100%;
    background-repeat: no-repeat;

  }

  &__home-link {

    text-decoration: none;
    display: inline-block;
    color: $color-fsa-white;

    &:visited,
    &:active,
    &:hover {
      color: $color-fsa-white;
    }

    &:hover {
      // text-decoration: underline;
    }

  }

  &__app-name {

    @include font-size(5);

    @include breakpoint(M) {
      font-size: $font-size-4;
    }

    @include breakpoint(L) {
      @include font-size(5);
    }

  }

  &__app-abbr {

    font-weight: $font-bold;

    .fsa-header-app__home-link:hover & {
      border-bottom: 1px solid $component-text-color;
      cursor: pointer;
    }

    &[title] {
      border-bottom: 0;
      text-decoration: none;
    }

    &:after {

      @include breakpoint(M) {
        content: ' |';
        font-weight: $font-light;
      }

      .fsa-header-app__home-link:hover & {
        border-bottom: 1px solid $component-bgcolor;
      }

    }

  }

  &__app-full {

    display: none;
    font-weight: $font-light;

    @include breakpoint(M) {
      display: inline;
    }

    .fsa-header-app__home-link:hover & {
      border-bottom: 1px solid $component-text-color;
    }

  }

}
