.fsa-nav-global {

  $nav-bgcolor: $color-fsa-white;
  $nav-border-color: $color-fsa-tertiary-200;
  $nav-text-color: $color-fsa-tertiary-300;

  $nav-highlight-color: $color-fsa-secondary;
  $nav-highlight-bgcolor: $color-fsa-secondary-900;
  $nav-highlight-text-color: $color-fsa-secondary-100;
  $nav-highlight-text-color-strong: $white;

  $nav-spacing-unit: $size-default;

  background-color: $nav-bgcolor;
  border-bottom: 1px solid $nav-border-color;

  &__bd {
    max-width: ($site-max-width + 24px);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  &__list {
    @include reset-ul();
    display: flex;
    position: relative;
  }

  &__list-item {

    @include reset-li();
    display: inline-block;

    @include breakpoint(L) {
      position: relative;
    }

    &--multi-column {
      @include breakpoint(L) {
        position: static;
      }
    }

    // &:exactly(6) {
    //   outline: 1px solid red;
    // }

  }

  &__link {

    @include font-size(2);
    background-color: transparent;
    border: 0;
    display: block;
    width: 100%; // block-level <button> elements don't automatically full-width themselves
    font-weight: $font-bold;
    text-decoration: none;
    padding: 0 $nav-spacing-unit;
    color: $nav-text-color;

    @include breakpoint(M) {
      @include font-size(3);
    }

    &:visited {
      color: $nav-text-color;
    }

    &:hover,
    &:focus {

      .fsa-nav-global__text {
        box-shadow: 0 (-($nav-spacing-unit / 3) / 2) 0 0 $nav-text-color inset;
      }

    }

    &--active {

      &:link,
      &:visited {
        color: $color-fsa-base;
      }

      .fsa-nav-global__text {
        box-shadow: 0 (-($nav-spacing-unit / 3)) 0 0 $nav-highlight-color inset;
      }

    }

    &[aria-expanded="true"] {

      background-color: $nav-highlight-bgcolor;
      color: $nav-highlight-text-color-strong;
      // scss-lint:disable TrailingSemicolon SpaceAfterPropertyColon
      box-shadow:
        $size-base 0 0 0 $nav-highlight-bgcolor,
        -$size-base 0 0 0 $nav-highlight-bgcolor
      ;

      .fsa-nav-global__text {
        box-shadow: 0 (-($nav-spacing-unit / 3)) 0 0 $nav-highlight-text-color-strong inset;
      }

      &:focus {
        outline: 0;
      }

    }

  }

  &__text {

    display: block;
    padding: ($nav-spacing-unit - $size-base) 0;
    white-space: nowrap;

    @include breakpoint(M) {
      padding: $nav-spacing-unit 0;
    }

    // scss-lint:disable SelectorFormat
    .fsa-nav-global__link--has-sub-menu & {
      &:after {

        $size: $size-default;

        content: '';
        display: inline-block;
        vertical-align: middle;

        margin-left: ($size-small);
        width: $size;
        height: ($size + .2rem);
        background-image: url('#{$image-path}/angle-arrow-down.png');
        background-image: url('#{$image-path}/angle-arrow-down.svg');
        background-size: 100%;
        background-repeat: no-repeat;

      }
    }

    [aria-expanded="true"] & {
      &:after {
        background-image: url('#{$image-path}/angle-arrow-down-hover.png');
        background-image: url('#{$image-path}/angle-arrow-down-hover.svg');
      }
    }

  }

  &__sub-menu {

    display: none;
    background-color: $nav-highlight-bgcolor;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    @include breakpoint(L) {
      width: 24rem;
      left: -$size-base;
    }

    .fsa-nav-global__list-item:last-child & {
      @include breakpoint(L) {
        right: -$size-base;
        left: auto;
      }

    }

    // scss-lint:disable SelectorFormat
    .fsa-nav-global__list-item--multi-column & {

      @include breakpoint(L) {
        left: 0;
        right: 0;
        width: auto;
      }

    }

    &[aria-hidden="false"] {
      display: block;
    }

  }

  &__sub-menu-bd {

    padding: ($nav-spacing-unit) 0 ($nav-spacing-unit / 2);

    // scss-lint:disable SelectorFormat
    .fsa-nav-global__list-item--multi-column & {

      @include breakpoint(L) {
        columns: 4;
        column-gap: $nav-spacing-unit / 2;
        padding-bottom: ($nav-spacing-unit + $size-base);
      }

    }

  }

  &__sub-menu-title {

    @include font-size(2);
    font-family: $font-sans;
    text-transform: uppercase;
    margin: 0;
    color: $nav-highlight-text-color-strong;
    padding: ($nav-spacing-unit / 3) ($nav-spacing-unit + $size-base);

    // scss-lint:disable SelectorFormat
    .fsa-nav-global__list-item--multi-column & {
    }

  }

  &__sub-menu-group {

    @include breakpoint(L) {

      display: inline-block;
      width: 100%;

      @supports (-webkit-appearance:none) {
        // Webkit only.
        break-before: column;
        display: block;
        width: auto;
      }


    }

  }

  &__sub-menu-list {

    @include reset-ul();
    margin-bottom: .5em;

  }

  &__sub-menu-item {
    @include reset-li();
  }

  &__sub-menu-link {

    $text-color: $nav-highlight-text-color;
    $text-color-highlight: $nav-highlight-text-color-strong;

    display: block;
    color: $text-color;
    text-decoration: none;
    padding: ($nav-spacing-unit / 3) ($nav-spacing-unit + $size-base);

    &:visited {
      color: $text-color;
    }

    &:hover,
    &:focus {
      color: $text-color-highlight;
      text-decoration: underline;
    }

  }

}
