.fsa-tophat {

  background-color: $color-fsa-primary-900;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: $color-fsa-white;

  &__bd {

    @include font-size(1);
    max-width: ($site-max-width + 24px);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: $color-fsa-white;
    padding: 0 $size-default;

    @include breakpoint(M) {
      @include font-size(2);
      display: flex;
    }

    @include breakpoint(L) {
      @include font-size(3);
    }

  }

  &__primary,
  &__secondary {

    display: inline;

    @include breakpoint(M) {
      flex: 1
    }

  }

  &__primary {}

  &__secondary {
    text-align: right;
    font-weight: $font-bold;
  }

  &__link {

    color: $color-fsa-white;
    text-decoration: none;

    &:link,
    &:hover,
    &:active,
    &:visited {
      color: $color-fsa-white !important;
    }

    &:hover {
      text-decoration: underline;
    }

  }

  &__agency {}

  &__agency-abbr {

    margin-right: $size-base;
    cursor: pointer;

    &[title] {
      border-bottom: none;
    }

    @include breakpoint(M) {
      display: none;
    }

  }


  &__agency-fullname {

    display: none;

    @include breakpoint(M) {
      display: inline;
    }

  }

}
