.fsa-field__date {
  position: relative;
}

.date-picker-control {

  & {
    .fsa-input + & {
      margin-left: -($button-height - .2rem);
    }
    .fsa-input--block + &,
    .date-picker-control__item + & {
      margin-left: initial;
    }
  }

  &__date-input-hidden {
    display: none;
  }

  &__btn {
    @include reset-button();
    display: inline-block;
    vertical-align: baseline;
    width: $button-height;
    height: $button-height;
    overflow: hidden;
    color: transparent;
    text-indent: -300%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAABJREA45cQRAAAAAXRSTlMAQObYZgAAAChJREFUCFtjePingOH//w9wfIDBAIJzN0AwkH0bSIMwBjsBgkFsqH4ADXIlBDFW/AsAAAAASUVORK5CYII='); // calendar.png
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -1px;
    .fsa-field & {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &[disabled] {
      opacity: .4;
    }
  }

  &__text {
    visibility: hidden;
  }

  &__btn--date-is-valid,
  &__btn--date-is-valid:link,
  &__btn--date-is-valid:visited {
    // If the datepicker has a valid date then use a different icon for the activation button to let the user know.
  }
}
