.OUTLINE {
  outline: 3px solid orangered;
}

.fsa-nav-global {

  $nav-bgcolor: $color-fsa-white;
  $nav-border-color: $color-fsa-tertiary-200;
  $nav-text-color: $color-fsa-tertiary-300;
  $nav-highlight-color: $color-fsa-secondary;

  background-color: $nav-bgcolor;
  border-bottom: 1px solid $nav-border-color;

  &__bd {
    max-width: ($site-max-width + 24px);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  &__list {

    @include reset-ul();
    display: flex;
    position: relative;

    @include breakpoint(L) {
      position: static;
    }

  }

  &__list-item {

    @include reset-li();
    display: inline-block;

    @include breakpoint(L) {
      position: relative;
    }

  }

  &__link {

    @include font-size(2);
    background-color: transparent;
    border: 0;
    display: block;
    font-weight: $font-bold;
    text-decoration: none;
    padding: 0 $size-default;
    color: $nav-text-color;

    @include breakpoint(M) {
      @include font-size(3);
    }

    &:visited {
      color: $nav-text-color;
    }

    &:hover,
    &:focus {

      span {
        box-shadow: 0 (-$size-base / 2) 0 0 $nav-text-color inset;
      }

    }

    &--active {

      &:link,
      &:visited {
        color: $color-fsa-base;
      }

      span {
        box-shadow: 0 (-$size-base) 0 0 $nav-highlight-color inset;
      }

    }

  }

  &__text {

    display: block;
    padding: $size-small 0;
    white-space: nowrap;

    @include breakpoint(M) {
      padding: $size-default 0;
    }

    .fsa-nav-global__link--has-sub-menu & {
      &:after {
        content: '╲╱';
        font-size: ($h6-font-size / 2);
        margin-left: $size-small;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
      }
    }

  }

  &__sub-menu {

    display: none;
    position: absolute;
    top: 100%;
    left: $size-default;
    right: $size-default;
    border: 1px solid $nav-border-color;
    border-top: 0;

    @include breakpoint(L) {
      width: 24rem;
      left: -$size-default;
    }

    &[aria-hidden="false"] {
      display: block;
    }

  }

  &__sub-menu-bd {
    background-color: $white;
    padding: $size-medium;
  }

  &__sub-menu-title {
    @include font-size(3);
    font-family: $font-sans;
    margin: 0;
  }

}
