///////////////////////////////////////////////////////////////////////
.exp-a {
  & {
    width: 310px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__item {
    & {}
    &--grow {
      flex: 1;
    }
  }
}

///////////////////////////////////////////////////////////////////////
.fsa-circle {
  border-radius: 100%;
  display: inline-flex;
}
///////////////////////////////////////////////////////////////////////
.asdfasdf {
  display: flex;
}
.asdfasdfasdf {
  display: block;
}
///////////////////////////////////////////////////////////////////////
.fsa-btn--plain {
  text-decoration: none !important;
  color: inherit;
  background-color: transparent;
  padding: 0;
  height: inherit;
  font-weight: normal;
}
.fsa-btn--plain:hover {
  text-decoration: none !important;
  color: inherit !important;
  background-color: transparent !important;
  padding: 0 !important;
}