@mixin overflow-gradient() {

  // scss-lint:disable Indentation SpaceAfterPropertyColon SpaceAfterComma TrailingSemicolon
  $bgTransparent: transparent;
  $bgLight: $color-fsa-site-bg;
  $bgMid: transparentize($color-fsa-tertiary, .75);
  $size: $size-extra-large;

  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  background-image:
    /* Shadows */
    linear-gradient(to right, $bgLight, $bgLight),
    linear-gradient(to right, $bgLight, $bgLight),
    /* Shadow covers */
    linear-gradient(to right, $bgMid, $bgTransparent),
    linear-gradient(to left, $bgMid, $bgTransparent)
  ;

  background-position:
    left center,
    right center,
    left center,
    right center
  ;
  background-repeat: no-repeat;
  background-color: $bgLight;
  background-size:
    $size 100%,
    $size 100%,
    ($size / 2) 100%,
    ($size / 2) 100%
  ;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;

//   overflow: auto;
// 	background:
// 		/* Shadow covers */
// 		linear-gradient(90deg, $bgLight 30%, $bgTransparent),
// 		linear-gradient(90deg, $bgTransparent, $bgLight 70%) 100% 0,
//
// 		/* Shadows */
// 		radial-gradient(0 50%, farthest-side, $bgMid, $bgTransparent),
// 		radial-gradient(100% 50%,farthest-side, $bgMid, $bgTransparent) 100% 0
//   ;
// 	background:
// 		/* Shadow covers */
// 		linear-gradient(90deg, $bgLight 30%, $bgTransparent),
// 		linear-gradient(90deg, $bgTransparent, $bgLight 70%) 100% 0,
//
// 		/* Shadows */
// 		radial-gradient(farthest-side at 0 50%, $bgMid, $bgTransparent),
// 		radial-gradient(farthest-side at 100% 50%, $bgMid, $bgTransparent) 100% 0
//   ;
// 	background-repeat: no-repeat;
// 	background-color: transparent;
// 	background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
//
// 	/* Opera doesn't support this in the shorthand */
// 	background-attachment: local, local, scroll, scroll;

}

.fsa-content-tabs {

  $tab-padding: $size-small;

  @include overflow-gradient();
  display: flex;
  margin-left: -$size-default;
  margin-right: -$size-default;

  @include breakpoint(L) {
    margin-left: 0;
    margin-right: 0;
  }

  &--justified {}

  &__list {

    display: table;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    // width: 100%;
    margin-left: $size-default;

    @include breakpoint(M) {
      width: auto;
    }

    @include breakpoint(L) {
      margin-left: 0;
    }

    // scss-lint:disable SelectorFormat
    .fsa-content-tabs--justified & {
      @include breakpoint(L) {
        width: 100%;
      }
    }

    .fsa-content-tabs--justified-equal & {
      @include breakpoint(L) {
        width: 100%;
        table-layout: fixed;
      }

    }

  }

  &__aside {

    display: block;
    flex: 1;
    border-bottom: 1px solid $color-fsa-tertiary-200;

    // scss-lint:disable SelectorFormat
    .fsa-content-tabs--justified &,
    .fsa-content-tabs--justified-equal & {
      @include breakpoint(L) {
        display: none;
      }
    }

  }

  &__item {

    display: flex;
    display: table-cell;
    vertical-align: bottom;
    border-bottom: 1px solid $color-fsa-tertiary-200;

  }

  &__label {

    @include font-size(3);
    @include reset-button();
    display: block;
    text-decoration: none;
    text-align: center;
    color: $color-fsa-tertiary;
    padding-right: ($tab-padding * 2);
    padding-left: ($tab-padding * 2);
    white-space: nowrap;

    @include breakpoint(L) {
      @include font-size(4);
    }

    @include breakpoint(XL) {
      white-space: normal;
    }

    .fsa-content-tabs__item:first-child & {
      padding-left: 0;
      @include breakpoint(L) {
        padding-left: 0;
      }
    }

    .fsa-content-tabs__item:last-child & {
      @include breakpoint(L) {
        padding-right: 0;
      }
    }

    &:link,
    &:visited {
      color: $color-fsa-tertiary;
    }

    &--small {
      @include font-size(3);
      padding-left: ($tab-padding + $size-base);
      padding-right: ($tab-padding + $size-base);
    }

    &--large {
      @include breakpoint(L) {
        font-size: ($font-size-4 + ($font-size-4 / 4));
      }
    }

    // scss-lint:disable SelectorFormat
    .fsa-content-tabs--justified & {
      @include breakpoint(L) {
        padding-left: ($tab-padding / 2);
        padding-right: ($tab-padding / 2);
      }
    }

  }

  &__label-text {

    display: block;
    padding-top: $tab-padding;
    padding-bottom: ($tab-padding + $size-base);
    position: relative;

    &:hover,
    &:focus {
      box-shadow: 0 (-$size-base / 2) 0 0 $color-fsa-tertiary-300 inset;
    }

    // scss-lint:disable SelectorFormat
    .fsa-content-tabs__label--active & {
      box-shadow: 0 (-$size-base) 0 0 $color-fsa-secondary inset;
    }

    .fsa-content-tabs__label--small & {
      padding-top: ($tab-padding - $size-base);
      padding-bottom: $tab-padding;
    }

    .fsa-content-tabs__label--unsaved &:after {
      content: '\2022';
      color: $color-fsa-red;
      font-size: 24px;
      line-height: 1;
      position: absolute;
      right: $size-small;
    }

  }

}

.fsa-content-tabs__label:hover .fsa-content-tabs__label-text,
.fsa-content-tabs__label:focus .fsa-content-tabs__label-text {
  outline: none;
  box-shadow: 0 (-$size-base / 2) 0 0 $color-fsa-tertiary-300 inset;
}
