$date-picker-text-color-default: $color-fsa-base;
$date-picker-text-color-disabled: tint($date-picker-text-color-default, 60%);
$date-picker-border-color: $form-outline-color;
$date-picker-table-cell-border-color: tint($table-border-color, 50%);
$date-picker-table-cell-padding: $size-default;
$date-picker-bg-color: #fff;
$date-picker-bg-color-disabled: tint($color-fsa-tertiary, 96%);
$date-picker-bg-color-hover: $color-fsa-aqua-100;

// .sample-bespoke-class {
//   outline: 2px solid blue;
// }

@mixin date-picker-disabled-item($opacity: .6) {
  cursor: text;
  opacity: $opacity !important;
  filter: grayscale(1);
}

@mixin date-picker-cell-default {
  color: $date-picker-text-color-default;
  width: $size-large;
  border: 1px solid $date-picker-table-cell-border-color;
  border-left: 0;
  border-right: 0;
  padding: $date-picker-table-cell-padding;
  line-height: 1;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  &:last-child {
    padding: $date-picker-table-cell-padding;
  }
}

/* body */.date-picker-is-dragging {
}

.date-picker {

  & {

    border: 1px solid $date-picker-border-color;
    position: absolute;
    z-index: 9999;
    text-align: center;
    background: white;
    user-select: none;

  }

  // ----------------------------------------------------------------------------
  // Variations

  &--static {
    box-shadow: none;
    position: relative;
    margin: 0;
    margin-top: $size-small;
    margin-bottom: 1em;
    .fsa-field__date-input-hidden + & {
      margin-top: 0;
    }
  }

  &--disabled {
    @include date-picker-disabled-item();
    background-color: transparent;
    &:hover *,
    &:hover {
      cursor: text;
    }
  }

  &--focus {
    box-shadow: 0 $size-base $size-small 0 rgba(0, 0, 0, .25);
  }

  &--drag-enabled {}

  &--weeks-displayed {}

  // ----------------------------------------------------------------------------
  // Header

  &__title-month,
  &__title-year {
    @include font-size(4);
    display: inline-block;
    line-height: 1;
    margin: $size-small 0;
    color: $date-picker-text-color-default;
    // cursor: text;
  }

  // ----------------------------------------------------------------------------
  // Variations

  &__row {}

  &__row--highlight {}

  &__tfoot {}

}

.date-picker__prev-but,
.date-picker__next-but {
  @include font-size(6);
  font-weight: normal;
  cursor: pointer;
}

.date-picker__prev-but,
.date-picker__next-but,
.date-picker__today-but {
  color: $color-fsa-link;
  display: block;
}

.date-picker__prev-but--year {}
.date-picker__prev-but--month {}

.date-picker__next-but--year {}
.date-picker__next-but--month {}

.date-picker__prev-but:hover,
.date-picker__next-but:hover,
.date-picker__today-but:hover {
  color: $color-fsa-link-hover;
}

.date-picker__prev-but:hover,
.date-picker__next-but:hover {
  outline: 1px solid $date-picker-text-color-disabled;
}

.date-picker__today-but {
  @include font-size(3);
  display: block;
  padding-top: $size-small;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  font-weight: $font-bold;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
}

.date-picker--disabled .date-picker__prev-but,
.date-picker--disabled .date-picker__next-but,
.date-picker--disabled .date-picker__today-but,
.date-picker--disabled .date-picker__prev-but:hover,
.date-picker--disabled .date-picker__next-but:hover,
.date-picker--disabled .date-picker__today-but:hover,
.date-picker .date-picker__prev-but.date-picker__disabled-item:hover,
.date-picker .date-picker__next-but.date-picker__disabled-item:hover,
.date-picker .date-picker__disabled-item,
.date-picker .date-picker__disabled-item:hover {
  @include date-picker-disabled-item(1);
}

.date-picker__today-but.date-picker__disabled-item {
  @include date-picker-disabled-item(1);
}

.date-picker__day {
  @include date-picker-cell-default();
}

.date-picker__day-name {
  display: block;
  padding: $date-picker-table-cell-padding;
}

.date-picker--disabled .date-picker__day--hover {
  outline: 0 !important;
  background-color: transparent !important;
}

.date-picker .date-picker__prev-but.date-picker__disabled-item:hover,
.date-picker .date-picker__next-but.date-picker__disabled-item:hover {
  cursor: text;
}

.date-picker__table {
  @include font-size(2);
  table-layout: fixed;
  empty-cells: show;
  border-collapse: collapse;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
  width: auto;
  height: auto;
}


.date-picker__thead {
  th {
    padding: 0;
    text-align: center;
  }
}

.date-picker__week-header {

  @include date-picker-cell-default();
  @include font-size(0);
  background: transparent;
  cursor: text;
  border-left: 0;
  font-weight: $font-bold;
  background-color: tint($color-fsa-tertiary, 95%);
  border-right: 1px solid $date-picker-border-color;

  .date-picker__thead & {
    vertical-align: middle;
    background-color: transparent;
    font-weight: normal;
    text-transform: uppercase;
    border-right: 0;
    cursor: help;
  }

}


.date-picker__day--header {
  /* The "mon tue wed thu fri sat sun" day header styles */
  @include font-size(1);
  border: 0 none;
  text-align: center;
  vertical-align: middle;
  cursor: help;
  text-transform: uppercase;
  padding: $size-small $size-base;
}

.date-picker__day--unused {
  /* TD cell that is _not_ used to display a day of the month */
  cursor: text !important;
}

.date-picker__title {
  /* [month] [year] title */
  @include font-size(3);
  text-align: center;
  padding: $size-base;
  font-weight: $font-bold;
  border-bottom: 1px solid $date-picker-border-color;
}

.date-picker__day--today {
  /* The "todays date" cell style */
  font-weight: $font-bold;
}

.date-picker__day--month-out.date-picker__day--highlight {}


.date-picker__day--highlight { /* The "highlight days" style */ }

.date-picker__day--0 { /* Monday */ }
.date-picker__day--1 { /* Tuesday */ }
.date-picker__day--2 { /* Wednesday */ }
.date-picker__day--3 { /* Thursday */ }
.date-picker__day--4 { /* Friday */ }
.date-picker__day--5 { /* Saturday */ }
.date-picker__day--6 { /* Sunday */ }

.date-picker--focus .date-picker__day--hover {
  outline: 3px solid $color-focus !important;
  background: $date-picker-bg-color-hover;
}

.date-picker--focus:hover .date-picker__day--hover:not(.date-picker__day--selected-date) {
  outline: 0 !important;
  background: $date-picker-bg-color-hover;
}

.date-picker--static.date-picker--focus {
  box-shadow: none;
}

.date-picker--static:hover .date-picker__day--hover:not(.date-picker__day--selected-date) {
  background: $date-picker-bg-color-hover;
}

.date-picker__day--disabled {
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
}

.date-picker__day--disabled:hover {
  background-color: $date-picker-bg-color-disabled;
  filter: grayscale(1);
  color: inherit;
}

.date-picker__day--month-out { /* Used only when `fillGrid: true` */ }

.date-picker__day--out-of-range,
.date-picker__day--not-selectable {

  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
  cursor: text;
}

th.date-picker__day--month-out,
th.date-picker__day--out-of-range {
  /* Week number "out of range" && "date-picker__day--month-out" styles */
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
}

.date-picker__day--out-of-range {
  color: $date-picker-text-color-disabled;
  background-color: $date-picker-bg-color-disabled;
}

.date-picker__day--not-selectable {
  /* Used when the entire grid is full but the next/prev months dates cannot be selected */
  color: $date-picker-text-color-disabled;
}

.date-picker sup {
  text-transform: none;
}

.date-picker__day--header {
}

.date-picker__day--hover {
  z-index: 99999;
  // overflow:hidden;
}

.date-picker__day[tabindex]:focus {
  outline: 0;
}

.date-picker__day--selected-date {
  background-color: $color-fsa-secondary-900;
  color: #fff;
  font-weight: $font-bold;
}

.date-picker--drag-enabled,
.date-picker--drag-enabled span {
  cursor: move;
}

.date-picker--disabled table {
  // opacity:.8 !important;
}

.date-picker--disabled,
.date-picker--disabled td,
.date-picker--disabled th,
.date-picker--disabled th span {
  cursor: text !important;
}

.date-picker__status-bar {
  /* tfoot status bar */
  @include font-size(2);
  text-align: center;
  cursor: text;
  font-weight: normal;
  text-transform: uppercase;
  border: 0 none;
  padding: ($date-picker-table-cell-padding / 2);
}