////////////////////////////////////////////////////////////////////////////////
// USWDS -------------- ////////////////////////////////////////////////////////

// This is effectively a pared down version of USWDS'  _all.scss, located at
// https://github.com/18F/web-design-standards/blob/master/all.scss

// Vendor -------------- //

@import 'lib/uswds/lib/bourbon';
@import 'lib/uswds/lib/neat';
@import 'lib/uswds/lib/normalize';

// Core -------------- //

@import 'lib/uswds/core/variables';
@import 'lib/uswds/core/fonts';
@import 'lib/uswds/core/base';
@import 'lib/uswds/core/grid-settings';
// @import 'lib/uswds/core/grid';
@import 'lib/uswds/core/utilities';

// Elements -------------- //
// Styles basic HTML elements

// @import 'lib/uswds/elements/buttons';
// @import 'lib/uswds/elements/figure';
// @import 'lib/uswds/elements/inputs';
// @import 'lib/uswds/elements/labels';
// @import 'lib/uswds/elements/list';
// @import 'lib/uswds/elements/table';
@import 'lib/uswds/elements/typography';

// Components -------------- //

// @import 'lib/uswds/components/accordions';
@import 'lib/uswds/components/alerts';
// @import 'lib/uswds/components/banner';
// @import 'lib/uswds/components/footer';
// @import 'lib/uswds/components/forms';
// @import 'lib/uswds/components/graphic-list';
// @import 'lib/uswds/components/hero';
// @import 'lib/uswds/components/layout';
// @import 'lib/uswds/components/media-block';
// @import 'lib/uswds/components/section';
// @import 'lib/uswds/components/sidenav';
// @import 'lib/uswds/components/header';
// @import 'lib/uswds/components/search';
// @import 'lib/uswds/components/skipnav';
