// Vendor -------------- //

@import 'lib/bourbon';
@import 'lib/neat';

// Core -------------- //

@import 'core/defaults';
@import 'core/variables--fsa';
@import 'core/grid-settings';
@import 'core/utilities';
@import 'core/utilities--fsa';
@import 'core/grid-breakpointbar';

$color-annotation: $color-fsa-secondary; //  $color-fsa-red

.docs {

  // -----------------------------------------------------------------------------
  // Doc Titles

  &__title {
    // @include font-size(9);
    // font-family: $font-sans;
    // margin-top: 0;
  }

  &__figure-group {
    // @include font-size(5);
    // font-family: $font-sans;
    // text-transform: uppercase;
    // font-weight: $font-bold;
    color: $color-annotation;
    border-bottom: 2px solid;
  }

  &__figure {

    // @include font-size(3);
    // font-family: $font-sans;
    // text-transform: uppercase;
    // font-weight: $font-bold;
    border-bottom: 1px solid;
    color: $color-annotation;
    margin-bottom: 1em;
    margin-top: $size-large;

    .docs__figure-group + & {

      // margin-top: $size-large;

    }

  }

  &__sub_style {
    // @include font-size(1);
    // font-family: $font-sans;
    // font-weight: $font-bold;
    color: $color-annotation;
  }

  // -----------------------------------------------------------------------------
  // Nav

  &__nav {

    padding: 0;
    background-color: $color-fsa-tertiary;
    color: $color-white;
    width: 100%;
    position: absolute;
    z-index: 100;

    // scss-lint:disable SelectorFormat TrailingSemicolon SpaceAfterPropertyColon
    margin:
      (-$size-default)
      0
      0
      (-$size-default)
    ;

    @include breakpoint(ML) {
      @include position(fixed, 0px 0px 0 0px); // scss-lint:disable ZeroUnit
      margin: 0;
    }

  }

  &__primary-nav {

    @include reset-ul();
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(XL) {
      max-width: ($site-max-width + $size-medium);
    }


    &-item {

      @include reset-li();
      display: inline-block;

      // scss-lint:disable NestingDepth
      &--top {

        display: none;

        @include breakpoint(ML) {
          display: block;
          float: right;
        }

      }

    }

    a {
      @include font-size (0);
      color: $color-white;
      display: inline-block;
      padding: $size-small;

      @include breakpoint(ML) {
        @include font-size (1);
      }

      @include breakpoint(L) {
        padding: $size-default;
      }

      // scss-lint:disable NestingDepth
      &:hover {
        background: rgba(0, 0, 0, .2);
      }

    }

  }

  // -----------------------------------------------------------------------------
  // Structure

  &__page {
    padding: $size-default;
  }

  &__section {
    margin-bottom: $size-extra-large;
  }

  &__bd {
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  &__main {
    padding-top: 50px;
  }

  // -----------------------------------------------------------------------------
  // Logo

  &__logo {

    @include outer-container(100%);

    &__item {

      // scss-lint:disable NestingDepth
      $bgc: rgba(0, 0, 0, .15);
      $bgc--tile: $bgc;

      @include span-columns(4);
      padding: $size-small;
      background-color: $bgc;

      // scss-lint:disable TrailingSemicolon SpaceAfterPropertyColon
      background-image:
        linear-gradient(45deg, $bgc--tile 25%, transparent 25%, transparent 75%, $bgc--tile 75%, $bgc--tile),
        linear-gradient(45deg, $bgc--tile 25%, transparent 25%, transparent 75%, $bgc--tile 75%, $bgc--tile)
      ;
      background-size: 20px 20px;
      background-position: 0 0, 50px 50px;

      @include breakpoint(M) {
        padding: $size-medium;
      }

      @include breakpoint(ML) {
        padding: $size-medium $size-extra-large;
      }

    }

    &__demo {

      // height: $size-extra-large * 2;
      display: block;

    }

  }

  // -----------------------------------------------------------------------------
  // Color

  &__colors {

    @include reset-ul();

    margin-bottom: $size-default;

    @include breakpoint(ML) {
      display: flex;
    }

    &__item {
      @include reset-li();
      flex: 1;
    }

    &__swatch {
      height: 75px;
    }

    &__title {
      // font-family: $ff-bold;
      // font-weight: $base-font-weight;
      margin: $size-small $size-small 0;
    }

    &__attr {

      @include reset-ul;
      @include font-size(1);
      margin: 0 $size-small 1em;

      // scss-lint:disable NestingDepth
      &-item {
        @include reset-li;
        margin-bottom: $size-base;
      }

    }

  }

  &__swatch-list {

    @include reset-ul;
    margin-bottom: 1em;

    &__item {

      @include reset-li;
      @include font-size(1);
      // background-color: black;
      padding: $size-extra-large $size-default $size-default;

      // scss-lint:disable NestingDepth
      &--main {
        padding-top: $size-extra-large * 2;
      }

    }

  }

  // -----------------------------------------------------------------------------
  // Typography

  &__typography {

    @include outer-container(100%);

    &__u {
      @include breakpoint(ML) {
        @include span-columns(6);
      }
    }

    &__size {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-top: 0;
    }

    &__size--0 { @include font-size(0); }
    &__size--1 { @include font-size(1); }
    &__size--2 { @include font-size(2); }
    &__size--3 { @include font-size(3); }
    &__size--4 { @include font-size(4); }
    &__size--5 { @include font-size(5); }
    &__size--6 { @include font-size(6); }
    &__size--7 { @include font-size(7); }
    &__size--8 { @include font-size(8); }
    &__size--9 { @include font-size(9); }

  }

  &__font {

    display: flex;
    align-items: center;

    &--source-sans-pro {


      font-family: $font-sans;
      font-weight: $font-normal;

      // scss-lint:disable NestingDepth
      &-light {
        font-weight: $font-light;
      }

      &-bold {
        font-weight: $font-bold;
      }

    }

    &--merriweather {

      font-family: $font-serif;
      font-weight: $font-normal;

      // scss-lint:disable NestingDepth
      &-light {
        font-weight: $font-light;
      }

      &-bold {
        font-weight: $font-bold;
      }

    }

    &__preview {

      @include font-size(9);
      flex: 1;
      line-height: 1;
      margin: 0;
      margin-right: $size-default;

      @include breakpoint(SM) {
        font-size: 84px;
        text-align: center;
      }

      @include breakpoint(ML) {
        // font-size: 104px;
      }

    }

    &__details {
      flex: 2;
      overflow: hidden;
    }

    &__item {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

  &__overflow-demo {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // -----------------------------------------------------------------------------
  // Sizing

  &__size {

    &__u {

      width: $size-base;
      height: $size-base;
      display: block;
      background-color: black;

      // scss-lint:disable all
      &--base        { width: $size-base;        height: $size-base;        }
      &--small       { width: $size-small;       height: $size-small;       }
      &--default     { width: $size-default;     height: $size-default;     }
      &--medium      { width: $size-medium;      height: $size-medium;      }
      &--large       { width: $size-large;       height: $size-large;       }
      &--extra-large { width: $size-extra-large; height: $size-extra-large; }

    }

  }

  // -----------------------------------------------------------------------------
  // Buttons

  &__buttons {

    @include outer-container(100%);

    &__u {
      @include breakpoint(ML) {
        @include span-columns(6);
      }
    }

  }

}

.color-fsa-primary-dark {
  background-color: $color-fsa-primary-dark;
}
.color-fsa-primary {
  background-color: $color-fsa-primary;
}
.color-fsa-primary-light {
  background-color: $color-fsa-primary-light;
}
.color-fsa-primary-lighter {
  background-color: $color-fsa-primary-lighter;
}
.color-fsa-primary-lightest {
  background-color: $color-fsa-primary-lightest;
}

.color-fsa-secondary-dark {
  background-color: $color-fsa-secondary-dark;
}
.color-fsa-secondary {
  background-color: $color-fsa-secondary;
}
.color-fsa-secondary-light {
  background-color: $color-fsa-secondary-light;
}
.color-fsa-secondary-lighter {
  background-color: $color-fsa-secondary-lighter;
}
.color-fsa-secondary-lightest {
  background-color: $color-fsa-secondary-lightest;
}

.color-fsa-tertiary-dark {
  background-color: $color-fsa-tertiary-dark;
}
.color-fsa-tertiary {
  background-color: $color-fsa-tertiary;
}
.color-fsa-tertiary-light {
  background-color: $color-fsa-tertiary-light;
}
.color-fsa-tertiary-lighter {
  background-color: $color-fsa-tertiary-lighter;
}
.color-fsa-tertiary-lightest {
  background-color: $color-fsa-tertiary-lightest;
}

.color-fsa-aqua-dark {
  background-color: $color-fsa-aqua-dark;
}
.color-fsa-aqua {
  background-color: $color-fsa-aqua;
}
.color-fsa-aqua-light {
  background-color: $color-fsa-aqua-light;
}
.color-fsa-aqua-lighter {
  background-color: $color-fsa-aqua-lighter;
}
.color-fsa-aqua-lightest {
  background-color: $color-fsa-aqua-lightest;
}

.color-fsa-red-dark {
  background-color: $color-fsa-red-dark;
}
.color-fsa-red {
  background-color: $color-fsa-red;
}
.color-fsa-red-light {
  background-color: $color-fsa-red-light;
}
.color-fsa-red-lighter {
  background-color: $color-fsa-red-lighter;
}
.color-fsa-red-lightest {
  background-color: $color-fsa-red-lightest;
}
