// Vendor -------------- //

@import '../../node_modules/uswds/src/stylesheets/lib/bourbon';
@import '../../node_modules/uswds/src/stylesheets/lib/neat';
@import '../../node_modules/uswds/src/stylesheets/lib/normalize';


// Core -------------- //

@import '../../node_modules/uswds/src/stylesheets/core/defaults';
@import '../../node_modules/uswds/src/stylesheets/core/variables';
@import '../../node_modules/uswds/src/stylesheets/core/fonts';
@import '../../node_modules/uswds/src/stylesheets/core/base';
@import '../../node_modules/uswds/src/stylesheets/core/grid-settings';
@import '../../node_modules/uswds/src/stylesheets/core/grid';
@import '../../node_modules/uswds/src/stylesheets/core/utilities';


// Elements -------------- //
// Styles basic HTML elements

@import '../../node_modules/uswds/src/stylesheets/elements/buttons';
@import '../../node_modules/uswds/src/stylesheets/elements/figure';
@import '../../node_modules/uswds/src/stylesheets/elements/inputs';
@import '../../node_modules/uswds/src/stylesheets/elements/labels';
@import '../../node_modules/uswds/src/stylesheets/elements/list';
@import '../../node_modules/uswds/src/stylesheets/elements/table';
@import '../../node_modules/uswds/src/stylesheets/elements/typography';


// Components -------------- //

@import '../../node_modules/uswds/src/stylesheets/components/accordions';
@import '../../node_modules/uswds/src/stylesheets/components/alerts';
@import '../../node_modules/uswds/src/stylesheets/components/disclaimer';
@import '../../node_modules/uswds/src/stylesheets/components/footer';
@import '../../node_modules/uswds/src/stylesheets/components/forms';
@import '../../node_modules/uswds/src/stylesheets/components/search';
@import '../../node_modules/uswds/src/stylesheets/components/sidenav';
@import '../../node_modules/uswds/src/stylesheets/components/skipnav';

///////////////////////////////////////////////////////////////////////////////

$outline-asdfqwer-color: #ff0;

.fsa-visual-index {

  max-width: $site-max-width;
  margin: auto;
  padding: 1rem;

  &__title {
    padding-top: .5rem;
    border-top: 2px solid red;
    font-size: $base-font-size;
    font-family: $font-sans;
    text-transform: uppercase;
    margin-bottom: 0;
  }

}

.asdfqwer {

  margin: 0;
  padding: 0;
  list-style-type: none;

  @include media($small-screen) {
    display: flex;
  }

  &__item {

    $item-bgc: rgba(0, 0, 0, .2);

    border: 10px solid $outline-asdfqwer-color;
    transition: all ease-in-out .1s;
    background-color: $item-bgc;
    list-style-type: none;
    padding: 10px;

    @include media($small-screen) {

      flex: 1;
      border-width: 5px;
      border-color: darken($outline-asdfqwer-color, 20%);
      margin: 0 20px 0 0;

      &:exactly(4) {
        background-color: darken($outline-asdfqwer-color, 20%);
      }

      &:at-least(4) {
        background-color: darken($outline-asdfqwer-color, 10%);
      }

      &:at-most(3) {
        background-color: lighten($outline-asdfqwer-color, 40%);
      }

    }

    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      @include media($small-screen) {
        margin-right: 0;
      }
    }

  }

}
