// Vendor -------------- //

@import '../../node_modules/uswds/src/stylesheets/lib/bourbon';
@import '../../node_modules/uswds/src/stylesheets/lib/neat';
@import '../../node_modules/uswds/src/stylesheets/lib/normalize';


// Core -------------- //

@import '../../node_modules/uswds/src/stylesheets/core/defaults';
@import '../../node_modules/uswds/src/stylesheets/core/variables';
@import '../../node_modules/uswds/src/stylesheets/core/fonts';
@import '../../node_modules/uswds/src/stylesheets/core/base';
@import '../../node_modules/uswds/src/stylesheets/core/grid-settings';
@import '../../node_modules/uswds/src/stylesheets/core/grid';
@import '../../node_modules/uswds/src/stylesheets/core/utilities';


// Elements -------------- //
// Styles basic HTML elements

@import '../../node_modules/uswds/src/stylesheets/elements/buttons';
@import '../../node_modules/uswds/src/stylesheets/elements/figure';
@import '../../node_modules/uswds/src/stylesheets/elements/inputs';
@import '../../node_modules/uswds/src/stylesheets/elements/labels';
@import '../../node_modules/uswds/src/stylesheets/elements/list';
@import '../../node_modules/uswds/src/stylesheets/elements/table';
@import '../../node_modules/uswds/src/stylesheets/elements/typography';


// Components -------------- //

@import '../../node_modules/uswds/src/stylesheets/components/accordions';
@import '../../node_modules/uswds/src/stylesheets/components/alerts';
@import '../../node_modules/uswds/src/stylesheets/components/disclaimer';
@import '../../node_modules/uswds/src/stylesheets/components/footer';
@import '../../node_modules/uswds/src/stylesheets/components/forms';
@import '../../node_modules/uswds/src/stylesheets/components/search';
@import '../../node_modules/uswds/src/stylesheets/components/sidenav';
@import '../../node_modules/uswds/src/stylesheets/components/skipnav';

///////////////////////////////////////////////////////////////////////////////

@import 'core/18f-overrides';
@import 'elements/foo-element';
@import 'components/foo-component';

.fsa-visual-index {

  max-width: $site-max-width;
  margin: auto;
  padding: 1rem;

  &__title {
    padding-top: .5rem;
    border-top: 4px solid $color-green;
    font-size: $base-font-size;
    font-family: $font-sans;
    text-transform: uppercase;
    margin-bottom: 0;
  }

}
