// Vendor -------------- //

@import 'lib/bourbon';
@import 'lib/neat';

// Core -------------- //

@import 'core/defaults';
@import 'core/variables--fsa';
@import 'core/grid-settings';
@import 'core/utilities';
@import 'core/utilities--fsa';
@import 'core/grid-breakpointbar';

$color-annotation: $color-fsa-secondary-dark;

.docs {

  // -----------------------------------------------------------------------------
  // Docs Variables. TODO: move to styleshets/core/fsa-variables.scss

  &__page {
    padding: $size-default;
  }

  &__title {
    margin-top: 0;
    display: none;
  }

  &__section {
    margin-bottom: $size-extra-large;
  }

  &__bd {
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  &__main {
    padding-top: 50px;
    // background-color: $color-white;
  }

  &__figure-group {
    @include font-size(5);
    font-family: $font-sans;
    color: $color-annotation;
    border-top: 2px solid;
    text-transform: uppercase;
  }

  &__figure {

    @include font-size(3);
    font-family: $font-sans;
    border-top: 1px solid;
    color: $color-annotation;
    text-transform: uppercase;
    // font-family: $ff-bold;
    // font-weight: $base-font-weight;
    margin-top: $size-large;

    .docs__figure-group + & {

      // margin-top: $size-large;

    }

  }

  &__sub_style {
    @include font-size(1);
    font-family: $font-sans;
    color: $color-annotation;
  }

  &__nav {

    padding: 0;
    background-color: $color-fsa-tertiary;
    color: $color-white;
    width: 100%;
    position: absolute;
    z-index: 100;

    // scss-lint:disable SelectorFormat TrailingSemicolon SpaceAfterPropertyColon
    margin:
      (-$size-default)
      0
      0
      (-$size-default)
    ;

    @include breakpoint(ML) {
      @include position(fixed, 0px 0px 0 0px); // scss-lint:disable ZeroUnit
      margin: 0;
    }

  }

  &__primary-nav {

    @include reset-ul();
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(XL) {
      max-width: ($site-max-width + $size-medium);
    }


    &-item {

      @include reset-li();
      display: inline-block;

      // scss-lint:disable NestingDepth
      &--top {

        display: none;

        @include breakpoint(ML) {
          display: block;
          float: right;
        }

      }

    }

    a {
      @include font-size (0);
      color: $color-white;
      display: inline-block;
      padding: $size-small;

      @include breakpoint(ML) {
        @include font-size (1);
      }

      @include breakpoint(L) {
        padding: $size-default;
      }

      // scss-lint:disable NestingDepth
      &:hover {
        background: rgba(0, 0, 0, .2);
      }

    }

  }

  // -----------------------------------------------------------------------------
  // Color

  &__colors {

    @include reset-ul();

    margin-bottom: $size-default;

    @include breakpoint(ML) {
      display: flex;
    }

    &__item {
      @include reset-li();
      flex: 1;
    }

    &__swatch {
      height: 75px;
    }

    &__title {
      // font-family: $ff-bold;
      // font-weight: $base-font-weight;
      margin: $size-small $size-small 0;
    }

    &__attr {

      @include reset-ul;
      @include font-size(1);
      margin: 0 $size-small 1em;

      // scss-lint:disable NestingDepth
      &-item {
        @include reset-li;
      }

    }

  }

  // -----------------------------------------------------------------------------
  // Fonts

  &__font {

    &--lato-regular {
      @include font-size(7);
      // font-family: $ff-base;
    }

    &--lato-light {
      @include font-size(7);
      // font-family: $ff-light;
    }

    &--lato-bold {
      @include font-size(7);
      // font-family: $ff-bold;
    }

    &--helvetica {
      @include font-size(7);
      // font-family: Helvetica;
    }

  }

  // -----------------------------------------------------------------------------
  // Typography

  &__typography {

    @include reset-ul();

    &__item {
      @include reset-li();
      display: flex;
      margin-bottom: 1em;
    }

    &__attr {
      @include font-size(1);
      flex: 1;
      width: 190px;
      background-color: $color-white;
      padding: $size-small;
      margin-right: $size-small;
      border: 1px solid $color_gray_lighter;
    }

    &__size--0 { @include font-size(0); }
    &__size--1 { @include font-size(1); }
    &__size--2 { @include font-size(2); }
    &__size--3 { @include font-size(3); }
    &__size--4 { @include font-size(4); }
    &__size--5 { @include font-size(5); }
    &__size--6 { @include font-size(6); }
    &__size--7 { @include font-size(7); }
    &__size--8 { @include font-size(8); }
    &__size--9 { @include font-size(9); }

  }

  &__swatch-list {

    @include reset-ul;
    margin-bottom: 1em;

    &__item {

      @include reset-li;
      @include font-size(1);
      // background-color: black;
      padding: $size-extra-large $size-default $size-default;

      // scss-lint:disable NestingDepth
      &--main {
        padding-top: $size-extra-large * 2;
      }

    }

  }

}


.color-fsa-primary-dark {
  background-color: $color-fsa-primary-dark;
}
.color-fsa-primary {
  background-color: $color-fsa-primary;
}
.color-fsa-primary-light {
  background-color: $color-fsa-primary-light;
}
.color-fsa-primary-lighter {
  background-color: $color-fsa-primary-lighter;
}
.color-fsa-primary-lightest {
  background-color: $color-fsa-primary-lightest;
}

.color-fsa-secondary-dark {
  background-color: $color-fsa-secondary-dark;
}
.color-fsa-secondary {
  background-color: $color-fsa-secondary;
}
.color-fsa-secondary-light {
  background-color: $color-fsa-secondary-light;
}
.color-fsa-secondary-lighter {
  background-color: $color-fsa-secondary-lighter;
}
.color-fsa-secondary-lightest {
  background-color: $color-fsa-secondary-lightest;
}

.color-fsa-tertiary {
  background-color: $color-fsa-tertiary;
}
.color-fsa-tertiary-light {
  background-color: $color-fsa-tertiary-light;
}
.color-fsa-tertiary-lighter {
  background-color: $color-fsa-tertiary-lighter;
}
.color-fsa-tertiary-lightest {
  background-color: $color-fsa-tertiary-lightest;
}

.color-fsa-aqua-dark {
  background-color: $color-fsa-aqua-dark;
}
.color-fsa-aqua {
  background-color: $color-fsa-aqua;
}
.color-fsa-aqua-light {
  background-color: $color-fsa-aqua-light;
}
.color-fsa-aqua-lighter {
  background-color: $color-fsa-aqua-lighter;
}
.color-fsa-aqua-lightest {
  background-color: $color-fsa-aqua-lightest;
}

.color-fsa-red-dark {
  background-color: $color-fsa-red-dark;
}
.color-fsa-red {
  background-color: $color-fsa-red;
}
.color-fsa-red-light {
  background-color: $color-fsa-red-light;
}
.color-fsa-red-lighter {
  background-color: $color-fsa-red-lighter;
}
.color-fsa-red-lightest {
  background-color: $color-fsa-red-lightest;
}


.fsa-visual-index {

  max-width: $site-max-width;
  margin: auto;
  padding: 1rem;

  &__title {
    font-size: $base-font-size;
    color: $color-annotation;
    padding-top: .5rem;
    border-top: 4px solid $color-annotation;
    font-family: $font-sans;
    text-transform: uppercase;
    margin-bottom: 0;
  }

}
