// Vendor -------------- //

@import 'lib/bourbon';
@import 'lib/neat';

// Core -------------- //

@import 'core/defaults';
@import 'core/variables--fsa';
@import 'core/grid-settings';
@import 'core/utilities';
@import 'core/utilities--fsa';
@import 'core/grid-breakpointbar';

$color-annotation: $color-fsa-secondary; //  $color-fsa-red

.docs {

  // -----------------------------------------------------------------------------
  // Doc Titles

  &__title {
    // @include font-size(9);
    // font-family: $font-sans;
    // margin-top: 0;
  }

  &__figure-group {
    // @include font-size(5);
    // font-family: $font-sans;
    // text-transform: uppercase;
    // font-weight: $font-bold;
    color: $color-annotation;
    border-bottom: 2px solid;
  }

  &__figure {

    // @include font-size(3);
    // font-family: $font-sans;
    // text-transform: uppercase;
    // font-weight: $font-bold;
    border-bottom: 1px solid;
    color: $color-annotation;
    margin-bottom: 1em;
    margin-top: $size-large;

    .docs__figure-group + & {

      // margin-top: $size-large;

    }

  }

  &__sub_style {
    // @include font-size(1);
    // font-family: $font-sans;
    // font-weight: $font-bold;
    color: $color-annotation;
  }

  // -----------------------------------------------------------------------------
  // Nav

  &__nav {

    padding: 0;
    background-color: $color-fsa-tertiary;
    color: $color-white;
    width: 100%;
    position: absolute;
    z-index: 100;

    // scss-lint:disable SelectorFormat TrailingSemicolon SpaceAfterPropertyColon
    margin:
      (-$size-default)
      0
      0
      (-$size-default)
    ;

    @include breakpoint(ML) {
      @include position(fixed, 0px 0px 0 0px); // scss-lint:disable ZeroUnit
      margin: 0;
    }

  }

  &__primary-nav {

    @include reset-ul();
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(XL) {
      max-width: ($site-max-width + 24px);
    }


    &-item {

      @include reset-li();
      display: inline-block;

      // scss-lint:disable NestingDepth
      &--top {

        display: none;

        @include breakpoint(ML) {
          display: block;
          float: right;
        }

      }

    }

    a {
      @include font-size (0);
      color: $color-white;
      display: inline-block;
      padding: $size-small;

      @include breakpoint(ML) {
        @include font-size (1);
      }

      @include breakpoint(L) {
        padding: $size-default;
      }

      // scss-lint:disable NestingDepth
      &:hover {
        background: rgba(0, 0, 0, .2);
      }

    }

  }

  // -----------------------------------------------------------------------------
  // Structure

  &__page {
    padding: $size-default;
  }

  &__section {
    margin-bottom: $size-extra-large;
  }

  &__bd {
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  &__main {
    padding-top: 5rem;
  }

  // -----------------------------------------------------------------------------
  // Logo

  &__logo {

    @include checkerboard();

    padding: $size-small;

    @include breakpoint(SM) {
      padding: $size-medium;
    }

    @include breakpoint(ML) {
      padding: $size-medium $size-extra-large;
    }

    &__demo {
      display: block;
    }

  }

  // -----------------------------------------------------------------------------
  // Attribute List

  &__attr-list {

    @include reset-ul();

    margin-bottom: $size-default;

    @include breakpoint(ML) {
      display: flex;
    }

    &--spaced {
      margin-right: -$size-medium;
    }

    &__item {
      @include reset-li();
      flex: 1;
    }

    &__swatch {
      height: 7.5rem;
      display: flex;
    }

    &__title {
      @include font-size(3);
      color: $color-annotation;
      font-family: $font-serif;
      // margin: $size-small $size-small;
    }

    &__attr {

      @include reset-ul;
      @include font-size(1);
      margin: $size-small 0 1em;

      // scss-lint:disable NestingDepth
      &-item {
        @include reset-li;
        margin-bottom: $size-base;
      }

    }

  }

  &__swatch-list {

    @include reset-ul;
    margin-bottom: 1em;

    &__item {

      @include reset-li;
      @include font-size(1);
      // background-color: black;
      padding: $size-extra-large $size-default $size-default;

      // scss-lint:disable NestingDepth
      &--main {
        padding-top: $size-extra-large * 2;
      }

    }

  }

  // -----------------------------------------------------------------------------
  // Typography

  &__typography {

    &__size {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-top: 0;
    }

    &__size--0 { @include font-size(0); }
    &__size--1 { @include font-size(1); }
    &__size--2 { @include font-size(2); }
    &__size--3 { @include font-size(3); }
    &__size--4 { @include font-size(4); }
    &__size--5 { @include font-size(5); }
    &__size--6 { @include font-size(6); }
    &__size--7 { @include font-size(7); }
    &__size--8 { @include font-size(8); }
    &__size--9 { @include font-size(9); }

  }

  &__font {

    display: flex;
    align-items: center;

    &--source-sans-pro {


      font-family: $font-sans;
      font-weight: $font-normal;

      // scss-lint:disable NestingDepth
      &-light {
        font-weight: $font-light;
      }

      &-bold {
        font-weight: $font-bold;
      }

    }

    &--merriweather {

      font-family: $font-serif;
      font-weight: $font-normal;

      // scss-lint:disable NestingDepth
      &-light {
        font-weight: $font-light;
      }

      &-bold {
        font-weight: $font-bold;
      }

    }

    &__preview {

      @include font-size(9);
      flex: 1;
      line-height: 1;
      margin: 0;
      margin-right: $size-default;

      @include breakpoint(SM) {
        font-size: 8.4rem;
        text-align: center;
      }

      @include breakpoint(ML) {
        // font-size: 104px;
      }

    }

    &__details {
      flex: 2;
      overflow: hidden;
    }

    &__item {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

  &__overflow-demo {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // -----------------------------------------------------------------------------
  // Grid Demo

  &__grid-inventory {
    &-item {
      // background-color: $color-fsa-white;
      margin-bottom: $size-base;
      margin-left: 0;
      padding-left: 0;
      > div {
        padding-left: 0;
      }
    }
  }

  // -----------------------------------------------------------------------------
  // Utilities

  &__utilities {

    &__demo {
      @include checkerboard();
      border-top: 1px solid $color-fsa-site-bg;
      border-bottom: 1px solid $color-fsa-site-bg;
      margin-bottom: $size-default;
    }

    &__demo-item {
      background-color: $color-fsa-tertiary-100;
      // padding: $size-small;
      // outline: 1px solid $color-fsa-tertiary-200;
      // outline-offset: -1px;

      code {
        background-color: transparent;
        border: 0;
        padding: 0;
      }

    }

  }

}


.size-swatch {

  @include checkerboard();

  margin: 0 $size-medium 0 0;

  &__blotch {

    background-color: $color-black;
    display: block;
    margin: auto;

    &--base {
      width: $size-base;
      height: $size-base;
    }

    &--small {
      width: $size-small;
      height: $size-small;
    }

    &--default {
      width: $size-default;
      height: $size-default;
    }

    &--medium {
      width: $size-medium;
      height: $size-medium;
    }

    &--large {
      width: $size-large;
      height: $size-large;
    }

    &--extra-large {
      width: $size-extra-large;
      height: $size-extra-large;
    }

  }

}

.color-fsa-primary-dark {
  background-color: $color-fsa-primary-900;
}
.color-fsa-primary {
  background-color: $color-fsa-primary;
}
.color-fsa-primary-light {
  background-color: $color-fsa-primary-300;
}
.color-fsa-primary-lighter {
  background-color: $color-fsa-primary-200;
}
.color-fsa-primary-lightest {
  background-color: $color-fsa-primary-100;
}

.color-fsa-secondary-dark {
  background-color: $color-fsa-secondary-900;
}
.color-fsa-secondary {
  background-color: $color-fsa-secondary;
}
.color-fsa-secondary-light {
  background-color: $color-fsa-secondary-300;
}
.color-fsa-secondary-lighter {
  background-color: $color-fsa-secondary-200;
}
.color-fsa-secondary-lightest {
  background-color: $color-fsa-secondary-100;
}

.color-fsa-tertiary-dark {
  background-color: $color-fsa-tertiary-900;
}
.color-fsa-tertiary {
  background-color: $color-fsa-tertiary;
}
.color-fsa-tertiary-light {
  background-color: $color-fsa-tertiary-300;
}
.color-fsa-tertiary-lighter {
  background-color: $color-fsa-tertiary-200;
}
.color-fsa-tertiary-lightest {
  background-color: $color-fsa-tertiary-100;
}

.color-fsa-aqua-dark {
  background-color: $color-fsa-aqua-900;
}
.color-fsa-aqua {
  background-color: $color-fsa-aqua;
}
.color-fsa-aqua-light {
  background-color: $color-fsa-aqua-300;
}
.color-fsa-aqua-lighter {
  background-color: $color-fsa-aqua-200;
}
.color-fsa-aqua-lightest {
  background-color: $color-fsa-aqua-100;
}

.color-fsa-red-dark {
  background-color: $color-fsa-red-900;
}
.color-fsa-red {
  background-color: $color-fsa-red;
}
.color-fsa-red-light {
  background-color: $color-fsa-red-300;
}
.color-fsa-red-lighter {
  background-color: $color-fsa-red-200;
}
.color-fsa-red-lightest {
  background-color: $color-fsa-red-100;
}

.color-fsa-link {
  background-color: $color-fsa-link;
}
.color-fsa-link-hover {
  background-color: $color-fsa-link-hover;
}
.color-fsa-link-visited {
  background-color: $color-fsa-link-visited;
}
