// Vendor -------------- //

@import 'lib/bourbon';
@import 'lib/neat';
@import 'lib/normalize';

// Core (non-rendering) -------------- //

@import 'core/defaults';
@import 'core/fonts';
@import 'core/grid-settings';

// Core (rendering) -------------- //
@import 'core/base';
@import 'core/base--fsa';
@import 'core/grid';
@import 'core/utilities';

// Elements -------------- //
// Styles basic HTML elements

@import 'elements/buttons';
@import 'elements/figure';
@import 'elements/inputs';
@import 'elements/labels';
@import 'elements/list';
@import 'elements/table';
@import 'elements/typography';


// Components -------------- //

@import 'components/accordions';
@import 'components/alerts';
@import 'components/disclaimer';
@import 'components/footer';
@import 'components/forms';
@import 'components/search';
@import 'components/sidenav';
@import 'components/skipnav';

///////////////////////////////////////////////////////////////////////////////

@import 'elements/foo-element';
@import 'components/asdfqwer';
