$outline-color: #008000;

html {
  font: 16px/1.5 helvetica;
}

.asdfqwer {

  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    $item-bgc: #ffcdcc;
    outline: 2px solid $outline-color;
    transition: all ease-in-out .1s;
    flex: 1;
    background-color: $item-bgc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 10px;
  }

}
