$outline-color: #00f;

html {
  font: 16px/1.5 helvetica;
}

.asdfqwer {

  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {

    $item-bgc: rgba(0, 0, 0, .2);

    flex: 1;
    border: 5px solid $outline-color;
    transition: all ease-in-out .1s;
    background-color: $item-bgc;
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 10px;

    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}
