$outline-color: green;

.asdfqwer {

  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    $item-bgc: #ffcdcc;
    outline: 1px solid $outline-color;
    flex: 1;
    background-color: $item-bgc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: .4vw + 20px;
  }

}
