/* FSA-specific overrides/additions */

body {
  background-color: $color-fsa-site-bg;
  line-height: $base-line-height;
  color: $color-fsa-base;
}

pre,
code,
kbd,
samp,
tt {

  @include font-size(1);
  color: $color-fsa-secondary-900;
  font-family: $font-mono;
  border-radius: 2px;
  background-color: transparentize($color-fsa-white, .1);
  padding: ($size-base / 2) $size-base;
  border: 1px solid $color-fsa-tertiary-200;

  code {
    border: 0;
    display: block;
  }

  p {
    margin-top: 0;
  }

}

pre {
  padding: $size-base;
}
