/* FSA-specific overrides/additions */

.fsa-browser-upgrade {
  background-color: $color-gold-lighter;
  margin: 0;
  padding: $size-small $size-default;
  border-bottom: 2px solid $color-gold;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {

  overflow-x: auto;
  background-color: $color-fsa-site-bg;
  line-height: $base-line-height;
  color: $color-fsa-base;

  @media print {
    background-color: transparent;
  }

}

@media print {
  @page {
    size: (8.5in * 1.75) (11in * 1.75);
  }
}

main:focus {
  outline: 0;
}

pre,
code,
kbd,
samp,
var,
tt {

  font-size: 90%;
  color: $color-fsa-red-900;
  font-family: $font-mono;
  border-radius: 2px;
  background-color: $color-fsa-site-bg;
  padding: ($size-base / 2);
  // border: 1px solid $color-fsa-tertiary-200;

  code {

    border: 0;
    display: block;

  }

  p {
    // margin-top: 0;
  }

}

code strong {
  color: black;
}

pre {
  padding: $size-base;
}

// scss-lint:disable QualifyingElement
abbr[title] {
  cursor: default;
}

// scss-lint:disable QualifyingElement PlaceholderInExtend
acronym[title],
dfn[title] {
  @extend abbr;
}

ins {
  text-decoration: none;
  border-bottom: 1px dashed;
}

u {
  text-decoration: none;
  border-bottom: 1px solid;
}

mark {
  background-color: $color-gold-lightest;
}

blockquote {

  @include font-size(2);
  font-style: italic;
  margin: 0;
  padding-left: $size-default;
  border-left: $size-base solid $color-fsa-tertiary-200;
  max-width: $text-max-width;

  @include breakpoint(L) {
    @include font-size(4);
    padding-left: $size-medium;
  }

}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 0;
  height: 1px;
  background: $color-fsa-tertiary-200;
}

form,
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset[disabled] {
  opacity: .6;
}
