////////////////////////////////////////////////////////////////////////
// FSA Grids

// Customization and SCSS'ification of Pure Grids, formerly known as YUI Grids.

.fsa-grid {

  @include fsa-grid-row();

  &--no-gutter {
    margin-left: 0;
  }

  &__demo {

    padding: 0;
    background-color: rgba(0, 0, 0, .05);
    box-shadow: 0 0 1px rgba(0,0,0,.7) inset;

    code {

      background-color: transparent;
      border-width: 0;
      padding: 0;
      white-space: nowrap;

    }

  }

}

@include fsa-grid();

@include breakpoint(S) {
  @include fsa-grid(\@s);
}
@include breakpoint(M) {
  @include fsa-grid(\@m);
}
@include breakpoint(L) {
  @include fsa-grid(\@l);
}
@include breakpoint(XL) {
  @include fsa-grid(\@xl);
}
