
// ---------------------------------------------------------------------------
// ---------------------------------------------------------------------------
// NEW variables specific to FSA
// or OVERRIDES those set in `_defaults.scss`

// ---------------------------------------------------------------------------
// Colors

$color-fsa-base: $color-base;
$color-fsa-primary: $color-green;
$color-fsa-primary-dark: shade($color-fsa-primary, 28%);
$color-fsa-secondary: $color-primary-darker;
$color-fsa-tertiary: $color-gray-warm-dark;

$color-black: #000;
$color-title: $color-primary-darker;
$color-orange: #eb6321;

// ---------------------------------------------------------------------------
// Typography

$font-mono: Consolas, Menlo, Monaco, "Lucida Console", "Courier New", monospace;


// Font Size Scale
$font-size-0 : $h6-font-size;
$font-size-1 : $small-font-size;
$font-size-2 : $h5-font-size;
$font-size-3 : $base-font-size;
$font-size-4 : $h4-font-size;
$font-size-5 : $h3-font-size;
$font-size-6 : $lead-font-size;
$font-size-7 : $h2-font-size;
$font-size-8 : $h1-font-size;
$font-size-9 : $title-font-size;
