
// ---------------------------------------------------------------------------
// ---------------------------------------------------------------------------
// NEW variables specific to FSA
// or OVERRIDES those set in `_defaults.scss`

// ---------------------------------------------------------------------------
// Sizing Units

$size-base          : 4px;
$size-small         : $size-base * 2;  // 8px
$size-default       : $size-base * 3;  // 12px
$size-medium        : $size-base * 6;  // 24px
$size-large         : $size-base * 9;  // 36px
$size-extra-large   : $size-medium * 2; // 48px


// ---------------------------------------------------------------------------
// Colors

// Core Colors
$color-white: #fff;
$color-black: #000;
$color-fsa-white: $color-white; // Just in case
$color-fsa-black: $color-black; // Just in case
$color-fsa-base: $color-base;

$color-fsa-primary: shade($color-green, 25%);
$color-fsa-primary-light: tint($color-fsa-primary, 25%);
$color-fsa-primary-lighter: tint($color-fsa-primary, 50%);
$color-fsa-primary-lightest: tint($color-fsa-primary, 75%);
$color-fsa-primary-dark: shade($color-fsa-primary, 25%);

$color-fsa-secondary: $color-primary-darker;
$color-fsa-secondary-light: tint($color-fsa-secondary, 25%);
$color-fsa-secondary-lighter: tint($color-fsa-secondary, 50%);
$color-fsa-secondary-lightest: tint($color-fsa-secondary, 75%);
$color-fsa-secondary-dark: shade($color-fsa-secondary, 25%);

$color-fsa-tertiary: $color-gray-warm-dark;
$color-fsa-tertiary-light: tint($color-fsa-tertiary, 40%);
$color-fsa-tertiary-lighter: tint($color-fsa-tertiary, 70%);
$color-fsa-tertiary-lightest: tint($color-fsa-tertiary, 90%);


// Accent Colors
$color-fsa-aqua: $color-primary-alt-dark;
$color-fsa-aqua-light: $color-primary-alt;
$color-fsa-aqua-lighter: $color-primary-alt-light;
$color-fsa-aqua-lightest: $color-primary-alt-lightest;
$color-fsa-aqua-dark: $color-primary-alt-darkest;

$color-fsa-red: $color-secondary-dark;
$color-fsa-red-light: tint($color-secondary-dark, 35%);
$color-fsa-red-lighter: tint($color-secondary-dark, 60%);
$color-fsa-red-lightest: tint($color-secondary-dark, 85%);
$color-fsa-red-dark: shade($color-secondary-dark, 10%);

// Semantic
$color-title: $color-primary-darker;
$color-fsa-site-bg: tint($color-fsa-secondary, 97%);


// ---------------------------------------------------------------------------
// Typography

$font-mono: Consolas, Menlo, Monaco, "Lucida Console", "Courier New", monospace;


// Font Size Scale
$font-size-0 : $h6-font-size;
$font-size-1 : $small-font-size;
$font-size-2 : $h5-font-size;
$font-size-3 : $base-font-size;
$font-size-4 : $h4-font-size;
$font-size-5 : $h3-font-size;
$font-size-6 : $lead-font-size;
$font-size-7 : $h2-font-size;
$font-size-8 : $h1-font-size;
$font-size-9 : $title-font-size;
