
// ---------------------------------------------------------------------------
// ---------------------------------------------------------------------------
// NEW variables specific to FSA
// or OVERRIDES those set in USWDS-provided `_defaults.scss`

// ---------------------------------------------------------------------------
// Sizing Units

$size-base          : 4px; //rem(4px)
$size-small         : $size-base * 2;  // 8px
$size-default       : $size-base * 3;  // 12px
$size-medium        : $size-base * 6;  // 24px
$size-large         : $size-base * 9;  // 36px
$size-extra-large   : $size-medium * 2; // 48px


// ---------------------------------------------------------------------------
// Colors

// Core Colors
// $color-base:  #585858;
// $color-base:  $color-gray-warm-dark;

$color-white: #fff;
$white: $color-white;
$color-black: #000;
$color-fsa-white: $color-white; // Just in case
$color-fsa-black: $color-black; // Just in case
$color-fsa-base: $color-base;

$color-fsa-primary: shade($color-green, 25%);
$color-fsa-primary-light: tint($color-fsa-primary, 25%);
$color-fsa-primary-lighter: tint($color-fsa-primary, 50%);
$color-fsa-primary-lightest: tint($color-fsa-primary, 75%);
$color-fsa-primary-dark: shade($color-fsa-primary, 25%);

$color-fsa-secondary: $color-primary-darker;
$color-fsa-secondary-light: tint($color-fsa-secondary, 25%);
$color-fsa-secondary-lighter: tint($color-fsa-secondary, 50%);
$color-fsa-secondary-lightest: tint($color-fsa-secondary, 75%);
$color-fsa-secondary-dark: shade($color-fsa-secondary, 25%);

$color-fsa-tertiary: $color-gray-warm-dark;
$color-fsa-tertiary-light: tint($color-fsa-tertiary, 40%);
$color-fsa-tertiary-lighter: tint($color-fsa-tertiary, 70%);
$color-fsa-tertiary-lightest: tint($color-fsa-tertiary, 90%);
$color-fsa-tertiary-dark: $color-fsa-base;

// Accent Colors
$color-fsa-aqua: $color-primary-alt-dark;
$color-fsa-aqua-light: $color-primary-alt;
$color-fsa-aqua-lighter: $color-primary-alt-light;
$color-fsa-aqua-lightest: $color-primary-alt-lightest;
$color-fsa-aqua-dark: $color-primary-alt-darkest;

$color-fsa-red: $color-secondary-dark;
$color-fsa-red-light: tint($color-secondary-dark, 35%);
$color-fsa-red-lighter: tint($color-secondary-dark, 70%);
$color-fsa-red-lightest: tint($color-secondary-dark, 90%);
$color-fsa-red-dark: $color-secondary-darkest;


// Semantic
$color-title: $color-fsa-secondary;
$color-fsa-site-bg: tint($color-fsa-secondary, 97%); // Super light gray bg, but with a slight tint of blue

// Fixes bug in USWDS
$color-gray: #5b616b; // lighten($color-gray-dark, 20%)


// ---------------------------------------------------------------------------
// Typography

// Font Size Scale
$font-size-0 : $h6-font-size;    // 13
$font-size-1 : $small-font-size; // 14
$font-size-2 : $h5-font-size;    // 15
$font-size-3 : $base-font-size;  // 17
$font-size-4 : $h4-font-size;    // 17 REMOVE THIS ONE
$font-size-5 : $h3-font-size;    // 20
$font-size-6 : $lead-font-size;  // 20 REMOVE THIS ONE
$font-size-7 : $h2-font-size;    // 30
$font-size-8 : $h1-font-size;    // 40
$font-size-9 : $title-font-size; // 52

$lead-font-size: $font-size-5;
$lead-line-height: 1.7;

$font-sans:  'Source Sans Pro', $helvetica !default;
$font-serif: 'Merriweather', $georgia !default;
$font-mono:  Consolas, Menlo, Monaco, "Lucida Console", "Courier New", monospace;

$font-light:  300;
$font-normal: 400;
$font-bold:   700;

// ---------------------------------------------------------------------------
// Forms

$form-font                     : $font-sans;
$form-text-size                : $font-size-3;
$form-text-size--sm            : $font-size-2;
$form-text-size--lg            : $font-size-6;
$form-text-color               : $color-fsa-base;
$form-placeholder-color        : $color-fsa-tertiary-lighter;
$form-outline-color            : $color-fsa-tertiary-lighter;
$form-focus-color              : $color-fsa-secondary-light;
$form-error-color              : $color-fsa-red;
$form-error-color-focus        : $color-fsa-base;
$form-error-color-bg           : $color-fsa-red-lightest;
$form-disabled-bg-color        : $color-fsa-tertiary-lightest;
$form-border-radius            : 0; // currently zero, but play with this if you want

$form-checkbox-radio-outline-color : shade($form-outline-color, 30%);
$form-checkbox-radio-fill      : $color-fsa-secondary;
$form-checkbox-fill            : $color-fsa-secondary;
$form-radiocheckbox-size       : 18px;
$form-padding                  : $size-small;
$form-select-bgc               : orangered;
$form-between-space            : $size-base - 2px;
