
// ---------------------------------------------------------------------------
// ---------------------------------------------------------------------------
// OVERRIDES variables set in `_defaults.scss`
// or creates NEW ones specific to FSA

// ---------------------------------------------------------------------------
// Typography

// Font Scale
$font-size-0 : $h6-font-size;
$font-size-1 : $small-font-size;
$font-size-2 : $h5-font-size;
$font-size-3 : $base-font-size;
$font-size-4 : $h4-font-size;
$font-size-5 : $h3-font-size;
$font-size-6 : $lead-font-size;
$font-size-7 : $h2-font-size;
$font-size-8 : $h1-font-size;
$font-size-9 : $title-font-size;

// ---------------------------------------------------------------------------
// Colors

$color-black: #000;
